{% extends "core/base.html" %}
{% load static %}

{% block title %}Access Denied{% endblock %}

{% block content %}
    <div class="w-full flex flex-col items-center justify-center mt-9">
        <div class="error-container border-2 border-blue-400 rounded-2xl p-8 flex flex-col items-center max-w-4xl text-center gap-2">
            {% comment %} <img src="https://www.pngkey.com/png/detail/147-1473883_404-error-404-not-found-png.png" alt="404 Error - 404 Not Found Png@pngkey.com" class="max-w-[400px]"> {% endcomment %}
            <h1 class="text-2xl text-red-600 font-semibold">Your Access To This Page Is Denied!</h1>
            <div class="error-message">
                <p>Your account does not have admin privileges.</p>
                <p>Please log in with an admin account to access this page.</p>
                <p>Contact our <a href="#">support team</a> if you believe this is an error.</p>
            </div>
            <div class="back-link">
                {% component "button" label="Return to Home" type="primary" href="{% url 'core:home' %}" %} {% endcomponent %}
            </div>
        </div>
    </div>

{% endblock %}