{% extends 'adminv2/base.html'%}
{% load static %}

{% block title %}{% endblock %}

{% block section_title %}Content Management{% endblock %}
{% block section_caption%} Edit and update static content across the website, including About Us, FAQs, Testimonials, and Partner Logos. {% endblock %}

{% block content %} 
    
    <div id="cms-container" x-data="{
        activeTab: '{% url 'adminv2:testimonial-partial' %}',
        templates : {
            '{% url 'adminv2:testimonial-partial' %}': 'Testimonials',
            '{% url 'adminv2:faqs-partial' %}': 'FAQs',
            '{% url 'adminv2:team-partial' %}': 'Team',
            '{% url 'adminv2:partners-partial' %}' : 'Partners',
        },
        loadTemplate(url){
            openLoadingModal()
            this.activeTab = url;
            console.log(url);
            fetch(url)
            .then(response => response.text())
            .then(html => {
                this.$refs.content.innerHTML = html;
                injectHTMLWithScripts(this.$refs.content, html); //the func is in the utils
                Alpine.initTree(this.$refs.content); // Re-initialize bindings in loaded content
            })
            .catch(error => {
                console.error('Error loading template:', error);
                this.$refs.content.innerHTML = '<p>Error loading content.</p>';
            })
            .finally(() => {
                closeLoadingModal()
            })
        }
    }"
    x-init="loadTemplate(activeTab)">
        <div class="tabs text-sm font-medium text-center text-gray-500 border-b border-gray-200">
            <ul class="flex flex-nowrap overflow-x-auto scrollbar-none -mb-px">
                <template x-for="[url, label] in Object.entries(templates)" :key="url">
                    <li class="me-2">
                        <button 
                            class="inline-block cursor-pointer py-2 px-4 rounded-xl hover:text-gray-600 hover:border-gray-300" 
                            :class="activeTab === url
                                ? 'border-2 text-blue-600 border-blue-600 active'
                                : 'border-b-2 border-transparent'" 
                            @click.prevent="loadTemplate(url)" x-text="label">
                        </button>
                    </li>
                </template>
            </ul>
        </div>

        <div x-ref="content" class="mb-6"></div>

        
    </div>


{% component "modal" modal_type="testimonial_form" modal_title="Testimonial Form" %}
    {% fill 'children' %}
    <div class="modal-body overflow-y-auto h-[80vh] px-4 py-6"></div>
    <script>
        function view_testimonial_form(){
            url = "{% url 'adminv2:testimonial-form' %}"
            loadModalForm(url, 'modal-testimonial_form', openModal_testimonial_form)
        }

        function view_update_testimonial_form(id){
            url = "{% url 'adminv2:update-testimonial-form' 123 %}".replace('123', id);
            loadModalForm(url, 'modal-testimonial_form', openModal_testimonial_form)
        }
    </script>
    {% endfill %}
{% endcomponent %}


{% component "modal" modal_type="delete_testimonial_modal" modal_title="Delete Testimonial" %}
    {% fill "children" %}
        <section class="flex flex-col gap-6 py-4 px-6">
            <div>
                <div class="font-semibold">Are you sure you want to delete this testimonial?</div>
                <div class="text-sm">This action cannot be undone.</div>
            </div>

            <div class="flex self-start gap-6">
                <button class="delete-btn btn bg-red-600 text-white">Delete</button>
                <button class="btn tertiary-btn" onclick='closeModal_delete_testimonial_modal()'>Cancel</button>
            </div>
        </section>

        <script>
            function openDeleteTestimonialModal(e){
                const element = e.target;
                const data_id = element.getAttribute('data-id');
                const modal = document.getElementById("modal-delete_testimonial_modal")
                const del_btn = modal.querySelector('.delete-btn')
                console.log(del_btn)
                del_btn.onclick = function(){
                    deleteTestimonial(event, data_id)
                }
                openModal_delete_testimonial_modal();
            }
        </script>
        
    {% endfill %}
{% endcomponent %}


{% component "modal" modal_type="delete_member_modal" modal_title="Delete Member" %}
    {% fill "children" %}
        <section class="flex flex-col gap-6 py-4 px-6">
            <div>
                <div class="font-semibold">Are you sure you want to delete this member?</div>
                <div class="text-sm">This action cannot be undone.</div>
            </div>

            <div class="flex self-start gap-6">
                <button class="delete-btn btn bg-red-600 text-white">Delete</button>
                <button class="btn tertiary-btn" onclick='closeModal_delete_member_modal()'>Cancel</button>
            </div>
        </section>
        
    {% endfill %}
{% endcomponent %}


{% component "modal" modal_type="team_member_form" modal_title="Team Member Form" %}
    {% fill 'children' %}
        <div class="modal-body overflow-y-auto max-h-[80vh] px-4 py-6"></div>
        <script>
            function view_add_member_form(){
                url = "{% url 'adminv2:add-member-form' %}"
                loadModalForm(url, 'modal-team_member_form', openModal_team_member_form)
            }

            function view_edit_member_form(id){
                url = "{% url 'adminv2:edit-member-form' 123 %}".replace('123', id);
                loadModalForm(url, 'modal-team_member_form', openModal_team_member_form)
            }
        </script>
    {% endfill %}
{% endcomponent %}


{% component "modal" modal_type="faq_form" modal_title="FAQ Form" %}
    {% fill 'children' %}
    <div class="modal-body overflow-y-auto max-h-[80vh] px-4 py-6"></div>
    <script>
        function view_add_faq_form(){
            url = "{% url 'adminv2:add-faq-form' %}"
            loadModalForm(url, 'modal-faq_form', openModal_faq_form)
        }

        function view_update_faq_form(id){
            url = "{% url 'adminv2:update-faq-form' 123 %}".replace('123', id);
            loadModalForm(url, 'modal-faq_form', openModal_faq_form)
        }
    </script>
    {% endfill %}
{% endcomponent %}


{% component "modal" modal_type="delete_faq_modal" modal_title="Delete FAQ" %}
    {% fill "children" %}
        <section class="flex flex-col gap-6 py-4 px-6">
            <div>
                <div class="font-semibold">Are you sure you want to delete this FAQ?</div>
                <div class="text-sm">This action cannot be undone.</div>
            </div>

            <div class="flex self-start gap-6">
                <button class="delete-btn btn bg-red-600 text-white">Delete</button>
                <button class="btn tertiary-btn" onclick='closeModal_delete_faq_modal()'>Cancel</button>
            </div>
        </section>

        <script>
            function open_delete_faq_modal(e){
                const element = e.target;
                const data_id = element.getAttribute('data-id');
                const modal = document.getElementById("modal-delete_faq_modal")
                const del_btn = modal.querySelector('.delete-btn')
                console.log(del_btn)
                del_btn.onclick = function(){
                    deleteFAQ(event, data_id)
                }
                openModal_delete_faq_modal();
            }
        </script>
        
    {% endfill %}
{% endcomponent %}


{% component "modal" modal_type="partner_form" modal_title="Partner Form" %}
    {% fill 'children' %}
    <div class="modal-body overflow-y-auto max-h-[80vh] px-4 py-6"></div>
    <script>
        function view_add_partner_form(){
            url = "{% url 'adminv2:add-partner-form' %}"
            loadModalForm(url, 'modal-partner_form', openModal_partner_form)
        }

        function view_update_partner_form(id){
            url = "{% url 'adminv2:update-partner-form' 123 %}".replace('123', id);
            loadModalForm(url, 'modal-partner_form', openModal_partner_form)
        }
    </script>
    {% endfill %}
{% endcomponent %}


{% component "modal" modal_type="delete_partner_modal" modal_title="Delete Partner" %}
    {% fill "children" %}
        <section class="flex flex-col gap-6 py-4 px-6">
            <div>
                <div class="font-semibold">Are you sure you want to delete this partner?</div>
                <div class="text-sm">This action cannot be undone.</div>
            </div>

            <div class="flex self-start gap-6">
                <button class="delete-btn btn bg-red-600 text-white">Delete</button>
                <button class="btn tertiary-btn" onclick='closeModal_delete_partner_modal()'>Cancel</button>
            </div>
        </section>

        <script>
            function open_delete_partner_modal(e){
                const element = e.currentTarget;;
                const data_id = element.getAttribute('data-id');
                const modal = document.getElementById("modal-delete_partner_modal")
                const del_btn = modal.querySelector('.delete-btn')
                console.log(del_btn)
                console.log(data_id)
                del_btn.onclick = function(){
                    deletePartner(event, data_id)
                }
                openModal_delete_partner_modal();
            }
        </script>
        
    {% endfill %}
{% endcomponent %}

{% endblock %}

{% block script %}
<script>
    const cms_container = document.getElementById('cms-container')
    document.addEventListener('alpine:init', () => {
        alpineTableData = Alpine.$data(cms_container);
        console.log(alpineTableData.activeTab)
    })

</script>


{% endblock %}