{% extends 'core/base.html'%}
{% load static %}

{% block title %} Search Result {% endblock %}

{% block content %}
<main class="mt-9 responsive-padding">   
    {% component "button" html_tag="button" label="<i class='fa fa-filter'></i> Apply Fiters" type="primary" width="max" function="submit" extraclass="px-4 py-1" attr="onclick='openModal_search_fiters()'" %} {% endcomponent %} 
    <div id="listing-container" class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">  
    
        {% if results %}
            {% for result in results %}
                {% component "listing_card" 
                    title=result.title 
                    href="/listing/property/{{ result.id }}/" 
                    price=result.price 
                    size=result.size 
                    type=result.listing_type 
                    imageUrl=result.cover_image.url 
                    address="{{result.street_address}}, {{result.lga}}, {{result.state}}" 
                    listing=result 
                    id=result.pk 
                    user_favourites=user_favourites 
                %}
                {% endcomponent %}            
            {% endfor %}
        {% else %}
            <p>No search result... </p>
        {% endif %}
    </div>

    {% if results.has_next %}
        <div id="load-more-container" class="mt-7 flex flex-col items-center">
            {% component "button" type="primary" html_tag="button" label="Load more" width="max" attr="data-next-page='{{ results.next_page_number }}' id='load-more'"%} {% endcomponent %}
            <!-- <button id="load-more" data-next-page="{{ results.next_page_number }}">Load More</button> -->
        </div>
    {% endif %}

   
</main>


    {% component "modal" modal_type="search_fiters" modal_title="Filters" %}
        {% fill "children" %}
        <form method="GET" action="{% url 'listing:search_listing' %}" id="filter-form" class="p-4 flex flex-col gap-2" x-data>
            <section>
                <input hidden type="search" name="search_query" value="{{ search_query }}" aria-label="Search">
                <h5 class="font-bold">Type</h5>
                <select name="listing_type" class="block input-primary">
                    <option value="">Any</option>
                    <option value="buy" {% if listing_type == 'buy' %}selected{% endif %}>Buy</option>
                    <option value="rent" {% if listing_type == 'rent' %}selected{% endif %}>Rent</option>
                    <option value="land" {% if listing_type == 'land' %}selected{% endif %}>Land</option>
                </select>
            </section>

            <!-- for price -->
            <section>
                <h5 class="font-bold">Price</h5>
                <div class="flex gap-x-2">
                    <div>
                        <input class="input-primary" type="number" name="min_price" value="{{ min_price }}">
                        <label class="label-primary" for="min_price">Min:</label>
                    </div>
                    <div>
                        <input class="input-primary" type="number" name="max_price" value="{{ max_price }}">
                        <label class="label-primary" for="max_price">Max:</label>
                    </div>
                </div>
            </section>


                    
                    
            <!-- for states -->
            <section>
                <div class="flex flex-col gap-2">
                    <label for="state_location" class="font-bold">State</label>
                    <select id="state_location" name="state" class="input-primary">
                        <option value="">Any</option>
                        {% for state in nigeria_states %}
                            <option value="{{ state }}" {% if state == selectedState %}selected{% endif %}>{{ state }} </option>
                        {% endfor %}
                    </select>
                </div>
            </section>

            {% component "button" html_tag="button" label="<i class='fa fa-filter'></i> Apply Fiters" type="primary" width="max" function="submit" extraclass="mt-4 px-4 py-1 ml-auto" %} {% endcomponent %}
        </form>
            
        

        {% endfill %}
    {% endcomponent %}

{% endblock %}

{% block script %}
<script>

    // for loading more listings instead of traditional previous and next button
    document.getElementById('load-more').addEventListener('click', function() {
        let nextPage = this.getAttribute('data-next-page');
        let loadMoreContainer = document.getElementById('load-more-container'); 
        //hold original text
        originalText = this.innerHTML
        
        this.innerHTML = `<i class="fa fa-spinner fa-spin"></i> Loading...`;

        fetch(`?page=${nextPage}`, { headers: { "X-Requested-With": "XMLHttpRequest" } })
            .then(response => response.text())
            .then(data => {
                // since the data is a full html stuff, we need to extract the innerHTML of the body
                let parser = new DOMParser();
                let doc = parser.parseFromString(data, 'text/html');
                
                let newListings = doc.body.innerHTML;
                console.log(newListings)
                document.getElementById('listing-container').innerHTML += newListings;


                // Find the updated next-page data from the new content
                let nextPageData = doc.querySelector('#next-page-data');
                if(nextPageData){
                    console.log(nextPageData.getAttribute('data-next-page'))
                    this.setAttribute('data-next-page', nextPageData.getAttribute('data-next-page'))
                }
                else{
                    this.remove()
                }
                
            }).finally(() => {
                // document.getElementById('loading-text').remove()
                this.innerHTML = originalText
            })
    });
</script>
{% endblock  %}