{% load static %}

<section class="responsive-padding flex flex-col lg:flex-row responsive-padding gap-12 md:justify-between">
    <dl class="stats flex justify-start gap-10 items-center font-medium" data-aos="fade-right">
        <div class="flex flex-col gap-4 items-center">
            <dt class="text-6xl font-black">200+</dt>
            <dd class="text-gray-700">Satisfied customers</dd>
        </div>

        <div class="flex flex-col gap-4 items-center">
            <dt class="text-6xl font-black">10+</dt>   
            <dd class="text-gray-700">Years served</dd>
        </div>
    </dl>

    <div class="partners" data-aos="fade-left">
        <h4 class="font-bold mb-2">Our Trusted Partners</h4>
        <div class="flex gap-4 *:relative *:cursor-pointer *:h-16 *:w-16 *:flex *:flex-col *:justify-center">
            <figure class="group">
                <img class="object-contain w-full h-full" src="{% static 'images/cabanna-logo.webp' %}">
                <figcaption class="absolute top-full mt-2 px-3 py-1 text-white bg-gray-800 text-sm rounded opacity-0 group-hover:opacity-70 transition-opacity duration-300 whitespace-nowrap">Cabanna Homes</figcaption>
            </figure>
            <figure class="group">
                <img class="object-contain w-full h-full" src="{% static 'images/silver-pacific-logo.webp' %}">
                <figcaption class="absolute top-full mt-2 px-3 py-1 text-white bg-gray-800 text-sm rounded opacity-0 group-hover:opacity-70 transition-opacity duration-300 whitespace-nowrap">Silver Pacifc Properties</figcaption>
            </figure>
            <figure class="group">
                <img class="object-contain w-full h-full" src="{% static 'images/gracias-global-logo-min.webp' %}">
                <figcaption class="absolute top-full mt-2 px-3 py-1 text-white bg-gray-800 text-sm rounded opacity-0 group-hover:opacity-70 transition-opacity duration-300 whitespace-nowrap">Gracias Homes</figcaption>
            </figure>
            <figure class="flex flex-col justify-center group">
                <img class="object-contain w-full h-full" src="{% static 'images/landnest-logo.webp' %}">
                <figcaption class="absolute top-full mt-2 px-3 py-1 text-white bg-gray-800 text-sm rounded opacity-0 group-hover:opacity-70 transition-opacity duration-300 whitespace-nowrap">Landnest Properties</figcaption>
            </figure>

        </div>

    </div>
</section>
