{% extends 'adminv2/base.html'%}
{% load static %}

{% block title %}{% endblock %}

{% block content %} 
    <h1>Add Listing</h1>

    <form method="post" enctype="multipart/form-data" class="max-w-2xl responsive-padding" onsubmit="submitForm(event)">
        {% csrf_token %}        
        <div class="flex flex-col gap-3 lg:gap-4">
            <div>
                <label for="id_title" class="label-primary">Title</label>
                <input class="input-primary" type="text" name="title" maxlength="40" required id="id_title" value="{{listing.title}}">
            </div>
        
            <div>
                <label for="id_listing_type" class="label-primary">Listing Type </label>
                <select class="input-primary" name="listing_type" required id="id_listing_type">
                    <option value="" selected>Select an option</option>
                    {% for value, label in listing_types %}
                    <option value="{{ value }}" {% if value == listing.listing_type %} selected {% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div>
                <label for="id_description" class="label-primary">Description</label>
                <textarea class="input-primary resize-none" name="description" cols="40" rows="4" maxlength="2000" required id="id_description">{{ listing.description }}</textarea>
            </div>
        
            <div>
                <label for="id_price" class="label-primary">Price</label>
                <input class="input-primary" type="number" name="price" step="0.01" required id="id_price" value="{{ listing.price }}">
            </div>
        
            <div x-data="{ image: '{{ listing.cover_image.url }}' !== 'None' ? '{{ listing.cover_image.url }}' : null }"> 
                <label for="id_cover_image" class="label-primary">Cover Image</label>
                <input x-ref="fileInput" class="input-primary" type="file" name="cover_image" accept="image/*" id="id_cover_image" @change="image = URL.createObjectURL($event.target.files[0])">

                {% comment %} image preview start {% endcomment %}
                <template x-if="image">
                    <div class="relative mt-2 h-32 w-32 rounded-sm">
                        <img :src="image" class="w-32 h-32 object-cover mt-2 border">
                        <button type="button" @click="image = null; $refs.fileInput.value=''" class="absolute top-0 right-0 block mt-2 px-1 py-1 text-white bg-black/50 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </button>
                    </div>
                </template>
                {% comment %} image previw end {% endcomment %}
            </div>
        
            <div>
                <label for="id_size" class="label-primary">Size</label>
                <input class="input-primary" type="number" name="size" id="id_size" value="{{ listing.size }}">
            </div>
        
            <div>
                <label for="id_street_address" class="label-primary">Street Address</label>
                <input class="input-primary" type="text" name="street_address" maxlength="100" required id="id_street_address" value="{{ listing.street_address }}">
            </div>
        
            <div>
                <label for="id_state" class="label-primary">State</label>
                <select class="input-primary" name="state" required id="id_state">
                    <option value="" selected>Please select state</option>
                    {% for value, label in nigeria_states %}
                        <option value="{{ label }}"  {% if value == listing.state %} selected {% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <p x-text="getLGAs(selectedState)"></p>
            </div>

            <div>
                <label for="id_lga" class="label-primary">LGA</label>
                <select class="input-primary" type="text" name="lga" required id="id_lga">
                    <option value="" selected>Select LGA</option>
                </select>
            </div>

            <div x-data="{ images:JSON.parse('{{ listing_images|escapejs }}'), files:[] }">
                <label for="id_images" class="label-primary">Select Images:</label>
                <input x-ref="fileInput" class="input-primary" type="file" id="id_images" name="multiple_images[]" accept="image/*" multiple @change="handleFileUpload($event, $data)"> 
                
                {% comment %} image preview start {% endcomment %}
                <div class="flex flex-wrap gap-2">
                    <template x-for="(image,index) in images" :key="index">
                        <div class="relative mt-2 h-32 w-32 rounded-sm">
                            <img :src="image" class="w-32 h-32 object-cover mt-2 border">
                            <button @click="removeImage(index, $data)" class="absolute top-0 right-0 block mt-2 px-1 py-1 text-white bg-black/50 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </button>
                        </div>
                    </template>
                </div>
                {% comment %} image preview end {% endcomment %}
            </div>

            <div>
                <label class="label-primary">Select Features:</label>
                <div class="flex flex-wrap gap-2">
                    {% for feature in features %}
                        <label class="flex items-center gap-2">
                            <input type="checkbox" name="features" value="{{ feature.id }}" {% if feature.id in listing_features %}checked{% endif %}>
                            <span>{{ feature.name }}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>
{% comment %} 
            <div>
                <label for="id_slug" class="label-primary">Slug</label>
                <input class="input-primary" type="text" name="slug" maxlength="60" required id="id_slug" value="{% if listing.slug %}{{ listing.slug }}{% else %}{% endif %}">
            </div>
             {% endcomment %}
            <div>
                <label for="id_keyword" class="label-primary">Keywords</label>
                <textarea class="input-primary" type="text" name="keywords" maxlength="60" required id="id_keywords">{% if listing.keywords %}{{ listing.keywords }}{% else %}{% endif %}</textarea>
            </div>

            {% comment %} <a onclick="prepareFormData()">hello</a> {% endcomment %}
            {% component "button" html_tag="button" label="Edit Listing" type="primary" width="full" function="submit" %} {% endcomponent %}
        </div>
    </form>
{% endblock %}

{% block script %}
    <script>
        
        var selectedLGA = '{{ listing.lga }}'
        const stateField = document.querySelector('#id_state');
        const lgaField = document.querySelector('#id_lga');

        //function to update Local Government Area based on the selected Nigerian Satate
        async function updateLGAOptions(state){
            const lgas = await fetchLGAs(state);
            if(!lgas) return;

            lgaField.innerHTML = lgas.map(lga => 
                `<option value="${ (lga) }" ${lga == selectedLGA ? 'selected' : ''}>${ lga }</option>` 
            ).join('');
        }

        document.addEventListener("DOMContentLoaded", async ()=>{
            await updateLGAOptions(stateField.value);
        });


        stateField.addEventListener('change', async ()=>{
            await updateLGAOptions(stateField.value);
        }); 

        let uploadFiles = [];
        const listingImages = {{ listing_images|safe}};

        async function urlToFile(url, filename, mimeType = 'image/jpeg') {
            const res = await fetch(url);
            const blob = await res.blob();
            return new File([blob], filename, { type: mimeType });
        }

        (async () => {
            for (const imageUrl of listingImages) {
                const fileName = imageUrl.split('/').pop().split('?')[0];
                const imageFile = await urlToFile(imageUrl, fileName);
                uploadFiles.push(imageFile);
                console.log(uploadFiles)
            }
        })();

 

        // async function fetchAndConvertImagesToBlob(imageList) {
        //     for(const imageUrl of imageList){
        //         try{
        //             const response = await fetch(imageUrl);
        //             const blob = await response.blob();

        //              // Extract filename from URL (after the last '/')
        //             const fileName = imageUrl.substring(imageUrl.lastIndexOf("/") + 1);

        //             const file = new File([blob], fileName, { type: blob.type });
        //             uploadFiles.push(file);
        //         } catch(error){
        //             console.error(`Failed to fetch image ${image.url}`, error)
        //         }
        //     }
        //     console.log('Converted files:', uploadFiles)
        // }

        // fetchAndConvertImagesToBlob(listingImages)
        

        // function for alpine js to handle showing of uploaded images and also the uploadedFiles for formData
        function handleFileUpload(event, component){
            let selectedFiles = event.target.files //get all files
            newImages = [];
            for(i=0; i < selectedFiles.length; i++){
                newImages.push(URL.createObjectURL(selectedFiles[i])); //for display
                uploadFiles.push(selectedFiles[i]); //for form data
            }

            component.images = [...component.images, ...newImages]; //add new images while preserving the already stored images
            // console.log(component.images)
            // console.log(uploadFiles)
        }

        function removeImage(index, component){
            component.images.splice(index, 1)
            // component.files.splice(index, 1)
            uploadFiles.splice(index, 1)

            if (component.images.length == 0){
                component.$refs.fileInput.value = "";
            }
            // console.log(uploadFiles)
        }

        function prepareFormData(form){
            formData = new FormData(form)

            // Handling Cover Image Field
            coverImage = formData.get('cover_image');
            if(!coverImage || coverImage.size == 0){
                formData.delete('cover_image');
            }

            // Handling Multiple Image Field
            formData.delete('multiple_images[]')
            if(uploadFiles){
                uploadFiles.forEach((file) => {
                    formData.append('multiple_images[]', file)
                });
            }

            console.log(...formData)

            console.log(uploadFiles)
            return formData
        }

        function submitForm(event){
            event.preventDefault()
            const form = event.target;
            const formData = prepareFormData(form)

            const submitBtn = form.querySelector('button[type="submit"]');
            originalText = submitBtn.innerHTML;
            submitBtn.innerHTML = `<i class="fa fa-spinner fa-spin"></i> Saving Changes...`;
            submitBtn.disabled = true;
            
            fetch(form.action, {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if(data.success){
                    showToastNotification('success', data.message)
                    window.location.href = "{% url 'adminv2:listing' %}";
                } else{
                    showToastNotification('warning', "Something went wrong")
                }
                
            }) 
            .catch(error => console.log('Update failed', error))
            .finally(() => {
                submitBtn.disabled = false;
                submitBtn.innerHTML = originalText;

            })

            
        }

    </script>
{% endblock %}