{% extends 'adminv2/base.html'%}
{% load static %}

{% block title %}{% endblock %}

{% block section_title %} Listings {% endblock %}

{% block content %} 
    <div>
        
    </div>
    <div class="flex mb-6">
        {% component "button" extraclass="ml-auto" label="<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='currentColor'><path d='M450-450H220v-60h230v-230h60v230h230v60H510v230h-60v-230Z'/></svg>
        <span>Add Listing</span>" type="secondary" width="max" href="{% url 'adminv2:add_listing' %}" %} {% endcomponent %}
    </div>
    
    
    <form class="max-w-md mx-auto mb-6">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="text" id="listing-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Listings..." />
    
            <!-- Filters Button with similar classes as Search -->
            <button type="button" class="absolute end-2.5 bottom-2.5 bg-blue-700 text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" onclick='openModal_search_fiters()'>
                <i class="fa fa-filter"></i> Filters
            </button>
        </div>
    </form>
    

    <div id="listing-container" class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Title
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Listing Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Address
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr id="listing-row-{{ result.id }}" class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
                    <td class="px-6 py-4">
                        <a href="{% url 'core:property_details_by_id' result.id %}" class="font-medium text-blue-600 hover:underline">{{ result.title }}</a>
                    </td>
                    <td class="px-6 py-4 title">
                        &#8358; {{ result.price }}
                    </td>
                    <td class="px-6 py-4 capitalize">
                        {{ result.listing_type }}
                    </td>
                    <td class="px-6 py-4">
                        {{ result.street_address }}, {{ result.lga }}, {{ result.state }}
                    </td>
                    <td class="px-6 py-4 flex gap-2 items-center">
                        {% component "button" label="Edit" type="primary" width="max" href="{% url 'adminv2:edit-listing' result.id %}" %} {% endcomponent %}
                        <button 
                            class="toggle-listing-btn cursor-pointer {% if result.is_listed %} text-red-500 hover:text-red-700 {% else %} text-green-500 hover:text-green-700 {% endif %} "
                            data-listing-id="{{ result.id }}"
                            data-is-listed="{{ result.is_listed }}">Unlist
                            {% if result.is_listed %}
                                Unlist
                            {% else %}
                                List
                            {% endif %}
                        </button>
                        {% if request.user.is_superuser %}
                            <form action="{% url 'adminv2:delete-listing' listing_id=result.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
      
    

    {% component "modal" modal_type="search_fiters" modal_title="Filters" %}
        {% fill "children" %}
        <form method="GET" id="filter-form" class="p-4 flex flex-col gap-2" x-data>
            <section>
                <input hidden type="search" name="search_query" value="{{ search_query }}" aria-label="Search">
                <h5 class="font-bold">Type</h5>
                <select name="listing_type" class="block input-primary">
                    <option value="">Any</option>
                    <option value="buy" {% if listing_type == 'buy' %}selected{% endif %}>Buy</option>
                    <option value="rent" {% if listing_type == 'rent' %}selected{% endif %}>Rent</option>
                    <option value="land" {% if listing_type == 'land' %}selected{% endif %}>Land</option>
                </select>
            </section>

            <!-- for price -->
            <section>
                <h5 class="font-bold">Price</h5>
                <div class="flex gap-x-2">
                    <div>
                        <input class="input-primary" type="number" name="min_price" value="{{ min_price }}">
                        <label class="label-primary" for="min_price">Min:</label>
                    </div>
                    <div>
                        <input class="input-primary" type="number" name="max_price" value="{{ max_price }}">
                        <label class="label-primary" for="max_price">Max:</label>
                    </div>
                </div>
            </section>


                    
                    
            <!-- for states -->
            <section>
                <div class="flex flex-col gap-2">
                    <label for="state_location" class="font-bold">State</label>
                    <select id="state_location" name="state" class="input-primary">
                        <option value="">Any</option>
                        {% for state in nigeria_states %}
                            <option value="{{ state }}" {% if state == selectedState %}selected{% endif %}>{{ state }} </option>
                        {% endfor %}
                    </select>
                </div>
            </section>

            {% component "button" html_tag="button" label="<i class='fa fa-filter'></i> Apply Fiters" type="primary" width="max" function="button" extraclass="mt-4 px-4 py-1 ml-auto" %} {% endcomponent %}
        </form>
            
        

        {% endfill %}
    {% endcomponent %}

{% endblock %}

{% block script %}
    <script>

        // function for handling the status of a listing
        function attachEventListeners(){

            toggleStatusBtns = document.querySelectorAll('.toggle-listing-btn');
            toggleStatusBtns.forEach((btn) => {

                if(btn.getAttribute('data-is-listed') == "True"){
                    btn.className = "toggle-listing-btn text-red-500 hover:text-red-700 cursor-pointer p-1";
                    btn.textContent = "Unlist";
                }else{
                    btn.className = "toggle-listing-btn text-green-500 hover:text-green-700 cursor-pointer p-1 ";
                    btn.textContent = "List";
                }

                btn.addEventListener('click', function(){

                    this.innerHTML += '<i class="fa fa-spinner fa-spin"></i>';
                    const listingId = this.getAttribute('data-listing-id');
                    const listingStatus = this.getAttribute('data-is-listed');
                    url = "{% url 'listing:toggle_listing_status' 123 %}".replace("123", listingId);

                    fetch(url, {
                        method: "POST",
                        headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": "{{ csrf_token }}"
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if(data.success){
                            if(data.is_listed){
                                this.textContent = "Unlist";
                                this.classList.remove("text-green-500", "hover:text-green-700");
                                this.classList.add("text-red-500", "hover:text-red-700");
                            }
                            else{
                                this.textContent = "List";
                                this.classList.remove("text-red-500", "hover:text-red-700");
                                this.classList.add("text-green-500", "hover:text-green-700");
                            }
                            this.setAttribute("data-is-listed", data.is_listed);

                            console.log('success');
                        }
                        else{
                            console.log('error');
                        }
                    })
                    .catch(error => console.log("Error", error));
                })
            })
        }

        document.addEventListener("DOMContentLoaded", attachEventListeners);



        // for live search
        
        function handleLiveSearch(){    
            query = this.value;
            if(query){
                url = `/adminv2/listing-search/${query}`;
                // url = '/adminv2/listing-search/bedroom?listing_type=&min_price=&max_price=&state=FCT'
            } else{
                url = `/adminv2/listing-search/`;
            }

            let params = new URLSearchParams({
                listing_type: document.querySelector('select[name="listing_type"]').value,
                min_price: document.querySelector('input[name="min_price"]').value,
                max_price: document.querySelector('input[name="max_price"]').value,
                state: document.querySelector('select[name="state"]').value,  
            });
            url = url + '?' + params.toString();

            console.log(url);
            // return;

            this.delay = setTimeout(() => {

                fetch(url, { headers: { "X-Requested-With": "XMLHttpRequest" } })
                .then(response => response.text())
                .then(data => {
                    // since the data is a full html stuff, we need to extract the innerHTML of the body
                    let parser = new DOMParser();
                    let doc = parser.parseFromString(data, 'text/html');
                    
                    let newListings = doc.body.innerHTML;
                    document.getElementById('listing-container').innerHTML = newListings;

                    // Reinitialize event listeners for new elements
                    attachEventListeners();

                })

            }, 400);            

        }

        document.getElementById('listing-search').addEventListener('keyup', handleLiveSearch);
        console.log(document.querySelector('#filter-form button[type="button"]'))
        document.querySelector('#filter-form button[type="button"]').addEventListener('click', handleLiveSearch);

            
        
    </script>
{% endblock  %}