{% extends 'adminv2/base.html'%}
{% load static %}

{% block title %}{% endblock %}

{% block section_title %} Listings {% endblock %}

{% block content %} 
    <div>
        
    </div>
    <div class="flex mb-6">
        {% component "button" extraclass="ml-auto" label="<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='currentColor'><path d='M450-450H220v-60h230v-230h60v230h230v60H510v230h-60v-230Z'/></svg>
        <span>Add Listing</span>" type="secondary" width="max" href="{% url 'adminv2:add_listing' %}" %} {% endcomponent %}
    </div>
    
    
    <form class="max-w-md mx-auto mb-6" onsubmit="handleSearch(event)">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="text" id="listing-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Listings..." />
    
            <!-- Filters Button with similar classes as Search -->
             <button type="button" class="flex gap-1 items-center absolute end-2.5 bottom-1.5 bg-blue-700 text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" onclick='openModal_sort_listing_filter()'>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M120-240v-80h240v80H120Zm0-200v-80h480v80H120Zm0-200v-80h720v80H120Z"/></svg>
                <span>Sort</span>
            </button>
        </div>

        <div class="flex gap-2 mt-2 *:bg-white *:text-sm">
            <button id="property_type_filter_btn" class="flex gap-1 w-max rounded-2xl border border-gray-700 appearance-none px-4 py-1 focus:outline-none focus:ring-2 focus:ring-red-400 focus:border-0 focus:bg-gray-100 cursor-pointer" type="button" onclick="openModal_property_type_modal()">Property Type</button>

            <button id="price_range_filter_btn" class="flex gap-1 w-max rounded-2xl border border-gray-700 appearance-none px-4 py-1 focus:outline-none focus:ring-2 focus:ring-red-400 focus:border-0 focus:bg-gray-100 cursor-pointer" type="button" onclick="openModal_price_modal()">Price</button>

            <button id="location_filter_btn" class="flex gap-1 w-max rounded-2xl border border-gray-700 appearance-none px-4 py-1 focus:outline-none focus:ring-2 focus:ring-red-400 focus:border-0 focus:bg-gray-100 cursor-pointer" type="button" onclick="openModal_location_modal()">Location</button>
        </div>

        <!-- sort modal -->
        {% component "modal" modal_type="sort_listing_filter" modal_title="Sort by" %}
            {% fill 'children' %}
                <div class="p-4 flex flex-col gap-6">
                    <div class="space-y-2">
                        <label class="block">
                            <input type="radio" name="sort" value="date_desc" class="mr-2 accent-red-500" checked>
                            Newest
                        </label>
                        <label class="block">
                            <input type="radio" name="sort" value="date_asc" class="mr-2 accent-red-500">
                            Oldest
                        </label>
                    </div>
                    <button class="btn primary-btn w-full" type="submit">Filter</button>
                </div>
            {% endfill %}
        {% endcomponent %}

        <!-- PRICE TYPE FILTER MODAL -->
        {% component "modal" modal_type="price_modal" modal_title="Price Range" %}
            {% fill "children" %}
                <div class="p-4 flex flex-col gap-6">
                    <div class="gap-2">
                        <div>
                            <div tabindex="0" class="flex items-center shadow border rounded w-full focus:border-blue-500">
                                <span class="px-2 block">&#8358;</span>
                                <input class="py-2 px-2 focus:outline-0 h-full w-full" type="number" name="min_price" value="{{ min_price }}">
                            </div>
                            <label class="label-primary" for="min_price">Min:</label>
                        </div>
                        <div>
                            <div tabindex="0" class="flex items-center shadow border rounded w-full focus:border-blue-500">
                                <span class="px-2 block">&#8358;</span>
                                
                                <input class="py-2 px-2 focus:outline-0 h-full w-full" type="number" name="max_price" value="{{ max_price }}">
                            </div>
                            <label class="label-primary" for="min_price">Max:</label>
                        </div>
                    </div>
                    <button class="btn primary-btn w-full" type="submit">Filter</button>
                </div>
            {% endfill %}
        {% endcomponent %}

        
        <!-- PROPERTY TYPE FILTER MODAL -->
        {% component "modal" modal_type="property_type_modal" modal_title="Property Type" %}
            {% fill "children" %}
                <div class="p-4 flex flex-col gap-6">
                    <div class="space-y-2">
                        <label class="block">
                            <input type="radio" name="listing_type" value="" {% if listing_type == '' %}checked{% endif %} class="mr-2 accent-red-500">
                            All Properties
                        </label>
                        <label class="block">
                            <input type="radio" name="listing_type" value="buy" {% if listing_type == 'buy' %}checked{% endif %} class="mr-2 accent-red-500">
                            Properties for Sale
                        </label>
                        <label class="block">
                            <input type="radio" name="listing_type" value="rent" {% if selected_sort == 'rent' %}checked{% endif %} class="mr-2 accent-red-500">
                            Properties for Rent
                        </label>
                        <label class="block">
                            <input type="radio" name="listing_type" value="land" {% if selected_sort == 'land' %}checked{% endif %} class="mr-2 accent-red-500">
                            Landed Properties
                        </label>
                    </div>
                    <button class="btn primary-btn w-full" type="submit">Filter</button>
                </div>
            {% endfill %}
        {% endcomponent %}

        <!-- LOCATION TYPE FILTER MODAL -->
        {% component "modal" modal_type="location_modal" modal_title="Property Type" %}
            {% fill "children" %}
                <div class="p-4 flex flex-col gap-6">
                    <div class="space-y-2">
                        <label class="block">
                            <input type="radio" name="state" value="" {% if selectedState == '' %}checked{% endif %} class="mr-2 accent-red-500">
                            All Locations
                        </label>
                        {% for state in nigeria_states %}
                            <label class="block">
                                <input type="radio" name="state" value="{{state}}" {% if selectedState ==  state %}checked{% endif %} class="mr-2 accent-red-500">
                                {{ state }}
                            </label>
                        {% endfor %}
                    </div>
                    <button class="btn primary-btn w-full" type="submit">Filter</button>
                </div>
            {% endfill %}
        {% endcomponent %}
    </form>
    
    <div id="listing-wrapper" x-data={loading:true}>
        <div x-show="loading">   
            {% component "table_skeleton" %} {% endcomponent %}
        </div>
        <div id="listing-container" x-show="!loading" class="relative flex flex-col items-center shadow-md sm:rounded-lg"></div>
    </div>
    


    


{% endblock %}

{% block script %}
    <script>

        window.addEventListener('DOMContentLoaded', () => {
            fetchListings();
        });

    const search_query = document.querySelector('input[name="search_query"]');
    const selectedSortRadio = document.getElementsByName('sort');
    const listingTypeRadio = document.getElementsByName('listing_type');
    const locationRadio = document.getElementsByName('state');
    const property_type_filter_btn = document.getElementById('property_type_filter_btn');
    const price_range_filter_btn = document.getElementById('price_range_filter_btn');
    const location_filter_btn = document.getElementById('location_filter_btn');
    
    const min_price_input = document.querySelector('input[name="min_price"]');
    const max_price_input = document.querySelector('input[name="max_price"]');
    const priceInputs = [min_price_input, max_price_input];
    const radioInputs = [listingTypeRadio, locationRadio];

    priceInputs.forEach(input => {
        input.addEventListener('change', highlightActiveFilters);
    });

    radioInputs.forEach(radioInput => {
        radioInput.forEach(radio => {
            radio.addEventListener('change', highlightActiveFilters)
        })
    });

    function highlightActiveFilters(){
        const highlightClasses = ["text-red-400", "ring-2", "ring-red-400", "border-0"];

        listingTypeRadio.forEach(radio => {
            const anyListingTypeSelected = Array.from(listingTypeRadio).some(radio => radio.checked && radio.value !== '');
            
            if(anyListingTypeSelected){
                property_type_filter_btn.classList.add(...highlightClasses);
            } else{
                property_type_filter_btn.classList.remove(...highlightClasses);
            }
        });

        locationRadio.forEach(radio => {
            const anyLocationSelected = Array.from(locationRadio).some(radio => radio.checked && radio.value !== '');

            if(anyLocationSelected){
                location_filter_btn.classList.add(...highlightClasses);
            } else{
                location_filter_btn.classList.remove(...highlightClasses);
            }
        });


        
        if(min_price_input.value != "" || max_price_input.value != ""){
            price_range_filter_btn.classList.add(...highlightClasses);
        } else{
            price_range_filter_btn.classList.remove(...highlightClasses)
        }

    }


        const listingContainer = document.getElementById('listing-container');
        const listingWrapper = document.getElementById('listing-wrapper');
        
        let search_params = new URLSearchParams(window.location.search)
        
        function fetchListings(page = 1) {        
            base_url = '{% url 'listing:search_listing' %}'
            search_params.set('context', 'admin')
            search_params.set('page', page)
            
            fetch(`${base_url}?${search_params.toString()}`, {
                headers: {
                    "X-Requested-With": "XMLHttpRequest"
                }
            })
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const listingsHtml = doc.body.innerHTML;
                listingContainer.innerHTML = listingsHtml;

                // Move load-more button if it exists
                const loadMoreContainer = document.getElementById('load-more-container');
                if (loadMoreContainer) {
                    listingContainer.after(loadMoreContainer);
                }
            })
            .finally(() => {
                Alpine.nextTick(() => {
                    alpineListingData = Alpine.$data(listingWrapper);
                    if (alpineListingData) {
                        alpineListingData.loading = false;
                    }
                });
            })
        }

        function handleSearch(e, page=1){
            e.preventDefault();

            const search_query = document.getElementById('listing-search');
            const selectedSortRadio = document.getElementsByName('sort');
            
            let selectedSortValue = "";
            selectedSortRadio.forEach(radio=>{
                if(radio.checked){
                    selectedSortValue = radio.value;
                }
            })

            let listingTypeValue = "";
            listingTypeRadio.forEach(radio=>{
                if(radio.checked){
                    listingTypeValue = radio.value;
                }
            })

            let selectedLocation = "";
            locationRadio.forEach(radio=>{
                if(radio.checked){
                    selectedLocation = radio.value;
                }
            })

            search_params = new URLSearchParams(); 
            search_params.set('search_query', search_query.value);
            search_params.set('selected_sort', selectedSortValue);
            search_params.set('context', 'admin');
            search_params.set('selected_sort', selectedSortValue);
            search_params.set('listing_type', listingTypeValue);
            search_params.set('min_price', min_price_input.value);
            search_params.set('max_price', max_price_input.value);
            search_params.set('state', selectedLocation);
            
            
            alpineTableData = Alpine.$data(listingWrapper);
            alpineTableData.loading = true;
            fetchListings(page);
        }


        toggleStatusBtns = document.querySelectorAll('.toggle-listing-btn');
        toggleStatusBtns.forEach((btn) => {

            if(btn.getAttribute('data-is-listed') == "True"){
                btn.className = "toggle-listing-btn text-red-500 hover:text-red-700 cursor-pointer p-1";
                btn.textContent = "Unlist";
            }else{
                btn.className = "toggle-listing-btn text-green-500 hover:text-green-700 cursor-pointer p-1 ";
                btn.textContent = "List";
            }

            btn.addEventListener('click', function(){

                this.innerHTML += '<i class="fa fa-spinner fa-spin"></i>';
                const listingId = this.getAttribute('data-listing-id');
                const listingStatus = this.getAttribute('data-is-listed');
                url = "{% url 'listing:toggle_listing_status' 123 %}".replace("123", listingId);

                fetch(url, {
                    method: "POST",
                    headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": "{{ csrf_token }}"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if(data.success){
                        if(data.is_listed){
                            this.textContent = "Unlist";
                            this.classList.remove("text-green-500", "hover:text-green-700");
                            this.classList.add("text-red-500", "hover:text-red-700");
                        }
                        else{
                            this.textContent = "List";
                            this.classList.remove("text-red-500", "hover:text-red-700");
                            this.classList.add("text-green-500", "hover:text-green-700");
                        }
                        this.setAttribute("data-is-listed", data.is_listed);

                        console.log('success');
                    }
                    else{
                        console.log('error');
                    }
                })
                .catch(error => console.log("Error", error));
            })
        })
    
        
    </script>
{% endblock  %}