@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Architects+Daughter&display=swap');

@import "tailwindcss" source(none);

@source '../../**/templates/**/*.html';
@source '../../components/**/*.html';
@source '../../components/**/*.js';
@source '../../static/js/**/*.js';



@theme {

  --font-base: 'Alegreya';
  --font-header: 'Alegreya';
  --font-cursive: 'Architects Daughter'
  
}

@layer components{

  .responsive-padding{
    @apply px-4 md:px-9 lg:px-20;
  }
  

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .animate-scroll {
      width: max-content;
      display: flex;
      white-space: nowrap;
      animation: infinite-scroll 20s linear infinite;
    }

    /* Hide the clear button in Chrome, Edge, and Safari */
    input[type="search"]::-webkit-search-cancel-button {
      display: none;
    }

    /* Hide the clear button in Firefox */
    input[type="search"]::-moz-search-clear-button {
      display: none;
    }

    /* Hide the clear button in Microsoft Edge */
    input[type="search"]::-ms-clear {
      display: none;
    }

    [x-cloak] {
      @apply hidden;
    }

    .label-primary {
        @apply block text-gray-700 text-sm font-bold mb-2;
    }
    
    .input-primary {
        @apply shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500;
    }
    

    .scrollbar-none::-webkit-scrollbar {
      display: none;
    }
    .scrollbar-none {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }


