<table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3">
                Title
            </th>
            <th scope="col" class="px-6 py-3">
                Price
            </th>
            <th scope="col" class="px-6 py-3">
                Listing Type
            </th>
            <th scope="col" class="px-6 py-3">
                Address
            </th>
            <th scope="col" class="px-6 py-3">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr id="listing-row-{{ result.id }}" class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
            <td class="px-6 py-4">
                <a href="{% url 'listing:property_details' result.id %}" class="font-medium text-blue-600 hover:underline">{{ result.title }}</a>
            </td>
            <td class="px-6 py-4">
                &#8358; {{ result.price }}
            </td>
            <td class="px-6 py-4 capitalize">
                {{ result.listing_type }}
            </td>
            <td class="px-6 py-4">
                {{ result.street_address }}, {{ result.lga }}, {{ result.state }}
            </td>
            <td class="px-6 py-4 flex gap-2">
                {% component "button" label="Edit" type="primary" width="max" href="{% url 'adminv2:edit-listing' result.id %}" %} {% endcomponent %}
                <button 
                    class="toggle-listing-btn text-red-500 hover:text-red-700 cursor-pointer"
                    data-listing-id="{{ result.id }}"
                    data-is-listed="{{ result.is_listed }}">
                    {% if result.is_listed %}
                        Unlist
                    {% else %}
                        List
                    {% endif %}
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>