{% extends "core/base.html" %}
{% load static %}

{% block title %}Home - Eaglespoint Horizon Limited{% endblock %}
{% block styleblock %}
    <style>

    </style>
{% endblock %}


{% block content %}

    <main>
        {% if article %}
        <article>
            <div class="bg-slate-100 flex flex-col lg:flex-row lg:items-center">
                <div class="cover-image h-[40vh] lg:h-[70vh] lg:w-1/2 lg:order-2">
                    <div class="w-full h-full bg-cover bg-center" style="background-image: url({{ article.cover_image.url }});"></div>
                </div>
                <header class="flex flex-col gap-2 lg:gap-3.5 py-12 px-[9%] lg:w-1/2 lg:order-1">
                    <div class="bg-blue-100 text-blue-600 rounded-sm font-bold text-sm w-max px-2 py-3">{{ article.get_category_display }}</div>
                    <div class="text-sm font-normal">
                        <span>Written: {{ article.created_at|date:"F j, Y" }}</span>
                        {% if article.updated_at %}
                        &nbsp;&nbsp;Modified: {{ article.updated_at|date:"F j, Y" }}
                        {% endif %}
                    </div>
                    <h1 class="font-semibold leading-[1.16] text-[calc(28.57143px+1.11607vw)]">{{ article.title }}</h1>
                    <div class="text-sm font-normal">
                        <span>By {{ article.author.last_name }} {{ article.author.first_name }}</span>
                        <span class="text-gray-500 italic"> - 
                            {% if article.author.user_role == 'admin' %}
                                Eaglespoint Staff
                            {% elif article.author.user_role == 'agent' %}
                                Eaglespoint Agent
                            {% endif %}
                        </span>
                    </div>
                </header>
            </div>

            <div class="w-[86%] md:w-[54%] mx-auto">
                <div class="article-content">
                    {{ article.content|safe }}
                </div>
            </div>
        </article>
        {% endif %}
        
    </main>
    
{% endblock %}
