{% extends "user/auth_base.html" %}

{% block title %} Login | Eaglespoint Horizon Limited {% endblock %}
{% block meta_description %} Log in to your Eaglespoint account to manage your profile, explore property listings, book travel, or apply for study abroad programs. {% endblock %}
{% block meta_keywords %}Eaglespoint login, user login, real estate login, study abroad portal, travel booking login, secure account access{% endblock %}
{% block og_title%} Login | Eaglespoint Horizon Limited {% endblock %}
{% block og_description %} Access your Eaglespoint account to manage listings, travel plans, or study abroad applications. {% endblock %}

{% block content %}
    <main class="responsive-padding flex flex-col mt-9 justify-center items-center">
        {% component "login_form" form_title="Login" form_class="w-full lg:max-w-[400px] shadow-xl ring-2 ring-gray-900/5 px-6 pt-10 pb-8" show_signup_link=True autofocus=True is_js_submission=True %} {% endcomponent %}
    </main>
  
{% endblock  %}

