{% extends "core/base.html" %}

{% block content %}

<main class="responsive-padding flex flex-col mt-9 justify-center items-center">
        
    {% if form.errors %}
        <div>
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <form method="POST" class="w-full lg:max-w-[400px] shadow-xl ring-2 ring-gray-900/5 px-6 pt-10 pb-8 flex flex-col gap-3 lg:gap-4" onsubmit="handlePasswordReset(event)">
        {% csrf_token %}
        <h3 class="text-2xl font-bold mb-1.5">Forgot Password?</h3>
        {% if messages %}
            {% for message in messages %}
                <div class="messages text-green-800 bg-green-100 text-center text-sm font-medium p-2 w-max">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div id="message" class="text-center text-sm font-medium p-2 w-max hidden"></div>

        <div>
            <label class="label-primary" for="id_email">Email</label>
            <input class="input-primary" type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" placeholder="Enter email">
        </div>

        {% component "button" html_tag="button" label="Submit" type="primary" width="full" function="submit" %} {% endcomponent %}

        <div class="flex flex-col md:flex-row gap-2 justify-between *:text-blue-700 *:underline *:hover:no-underline">
            <a href="{% url 'user:register' %}">Create A New Account</a><br><br>
            <a href="{% url 'user:login' %}">Back To Login</a><br>
        </div>
    </form>

</main>

            
{% endblock content %}
