{% extends "user/auth_base.html" %}
{% block content %}

<main class="responsive-padding flex flex-col items-center mt-9">
    <div class="border-2 border-blue-400 rounded-2xl p-8 flex flex-col items-center w-full max-w-[400px] text-center gap-2">
        <h1 class="text-2xl font-bold">Your Password has been Reset</h1>
        {% component "button" html_tag="a" label="Go to Login" type="primary" width="max" href="{% url 'user:login' %}" %} {% endcomponent %}
    </div>
</main>
{% endblock content %}