{% extends 'core/base.html'%}
{% load static %}

{% block title %} About Us | Eaglespoint Horizon Limited {% endblock %}
{% block meta_description %} Learn more about Eaglespoint Horizon Limited—your trusted experts in real estate, travel, and international education. With over 8 years of experience and 200+ happy clients, we turn global dreams into reality. {% endblock %}
{% block meta_keywords %}About Eaglespoint, real estate Nigeria, travel consulting, education consulting, study abroad, trusted real estate agency, travel agency, global education, Eaglespoint Horizon Limited, client-focused services, Nigeria property experts{% endblock %}
{% block og_title%} About Us | Eaglespoint Horizon Limited {% endblock %}
{% block og_description %} About Eaglespoint, real estate Nigeria, travel consulting, education consulting, study abroad, trusted real estate agency, travel agency, global education, Eaglespoint Horizon Limited, client-focused services, Nigeria property experts {% endblock %}
{% block og_image %} {{ request.scheme }}://{{ request.get_host }}{% static 'images/staff.jpg' %} {% endblock %}

{% block content %}
    <section class="responsive-padding pt-12">
        <h1 class="text-4xl font-bold text-center mb-4">Know Everything About Us</h1>
        <div class="flex flex-col lg:flex-row justify-center items-center gap-4 lg:gap-12">
            <div class="text-lg order-3 ">
                <p>
                    At <strong>Eaglespoint Horizon Limited</strong>, we believe in making dreams a reality. Whether it's finding the perfect home, embarking on a seamless travel experience, or pursuing international education, our mission is to provide exceptional services tailored to your aspirations.
                </p>
                <p class="mt-4">
                    With over <strong>8 years</strong> of industry expertise and a proven track record of serving <strong>200+ satisfied clients</strong>, we have positioned ourselves as a trusted name in Real Estate, Travel, and Education Consulting. Our commitment to integrity, excellence, and personalized service ensures that every client journey is smooth, rewarding, and transformative.
                </p>
            </div>
            <img src="{% static 'images/staff.jpg' %}" class="block rounded-2xl w-full max-w-[480px] lg:order-5">
        </div>   
    </section>

    {% if team_members %}
        <section class="py-8 responsive-padding mt-12 mb-12">
            <h1 class="text-4xl font-bold text-center mb-4">Meet Our Team</h1>
            <div class="flex gap-3 justify-start items-center flex-nowrap overflow-x-auto">
                {% for member in team_members %}
                    <figure class="relative h-[408px] w-full min-w-52 rounded-lg overflow-hidden">
                        <div class="absolute inset-0 bg-gradient-to-t from-black/40 to-transparent"></div>
                        <img src="{{ member.photo.url }}" width="320px" class="h-full w-full object-cover">
                        <figcaption class="absolute w-full bottom-4 *:block text-white text-center">
                            <span class="uppercase font-bold">{{ member.name }}</span>
                            <span>{{ member.position }}</span>
                        </figcaption> 
                    </figure>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {% component "stats_partner" %} {% endcomponent %}

    <section class="flex flex-col gap-6 md:flex-row md:gap-0 w-full mt-12">
        <section class="w-full relative bg-cover bg-center text-white py-4 lg:py-10 responsive-padding" 
        style="background-image: url('{% static 'images/house-duplex.jpg' %}');">
        
            <!-- Overlay -->
            <div class="absolute inset-0 bg-blue-600/50"></div> 

            <!-- Content -->
            <div class="relative z-10">
                <h2 class="text-2xl font-bold mb-4">Are You Interested In Our Real Estate</h2>
                {% component "button" label="Find out More" type="tertiary" %} {% endcomponent %}
            </div>
        </section>

        <section class="w-full relative bg-cover bg-center text-white py-4 lg:py-10 responsive-padding" 
    style="background-image: url('{% static 'images/airplane.jpg' %}');">
    
            <!-- Overlay -->
            <div class="absolute inset-0 bg-red-500/70"></div> 

            <!-- Content -->
            <div class="relative z-10">
                <h2 class="text-2xl font-bold mb-4">Interested in Travels or Study Abroad?</h2>
                {% component "button" label="Find out More" type="tertiary" %} {% endcomponent %}
            </div>

        </section>
    </section>

    
{% endblock %}