{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Eaglespoint Horizon Limited {% endblock %}</title>

    {% comment %} <script src="https://unpkg.com/alpinejs" defer></script> {% endcomment %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block styleblock %} {% endblock %}

</head>
<body class='font-base text-gray-900' x-data="{ openLoginModal: false }">

    <div></div>
    <header x-data="{ isOpen:false }" class="w-full bg-white border-gray-200 responsive-padding py-2.5 sticky top-0 z-30 drop-shadow-md">
        <div id="headerWrapper" class="relative flex  gap-6 items-center justify-center mx-auto">
            
            <!-- Logo Section -->
            <a href="#" class="block" id="logo">
                <img src="{% static 'images/eaglespoint-logo.png' %}" width="72px" class="w-18 md:w-32" alt="EaglesPoint Logo" />
            </a>
    
            <!-- Search Bar -->
            <form method="GET" action="{% url 'listing:search_listing' %}" role="search" class="flex items-stretch w-full h-10 border border-gray-50 bg-slate-200/100 rounded-lg focus:ring-2 focus:ring-blue-500 hover:border-blue-500 transition">
                <input type="search" name="search_query" value="{{ search_query }}" aria-label="Search" class="block w-full px-4 py-2 focus:outline-none" 
                       placeholder="Search Location or Properties">
                <button class="bg-blue-600 text-white h-full p-2 rounded-r-lg" type="submit"><i class="fa fa-search fa-lg"></i></button>
            </form>
    
            <!-- Mobile Menu Toggle -->
            <button @click="isOpen = !isOpen" type="button" class="inline-flex items-center p-2 text-sm 
                text-gray-500 rounded-lg ml-auto lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
                <span class="sr-only">Open main menu</span>
                <!-- <i class="fa fa-hamburger w-6 h-6" :class="isOpen ? 'fa-close' : 'fa fa-hamburger'"></i> -->
                <template x-if="!isOpen">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    </svg>
                </template>
                <template x-if="isOpen">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </template>
            </button>
    
            <!-- Navigation Menu -->
            <nav x-cloak :class="isOpen ? 'flex' : 'hidden lg:block'" class="absolute p-2 lg:p-0 w-screen top-full z-50 bg-white lg:relative lg:top-0 flex-col justify-between items-start md:w-full lg:ml-auto lg:w-max lg:flex lg:items-center *:font-semibold lg:font-normal" id="mobile-menu">
                <ul class="flex flex-col lg:items-center mt-4 font-medium w-full px-3 lg:px-0 md:w-full lg:w-max lg:flex-row lg:space-x-8 lg:mt-0">
                    <li><a href="{% url 'core:home' %}" class="block text-gray-700 pl-2 py-2 lg:p-0 hover:bg-gray-100 lg:hover:bg-transparent lg:hover:underline">Home</a></li>
                    <li><a href="{% url 'core:real_estate' %}" class="block text-gray-700 pl-2 py-2 lg:p-0 hover:bg-gray-100 lg:hover:bg-transparent lg:hover:underline">Real Estate</a></li>
                    <li><a href="{% url 'core:home' %}" class="block text-gray-700 pl-2 py-2 lg:p-0 hover:bg-gray-100 lg:hover:bg-transparent lg:hover:underline">Travel</a></li>
                    <li><a href="#" class="block text-gray-700 pl-2 py-2 lg:p-0 hover:bg-gray-100 lg:hover:bg-transparent lg:hover:underline">Blogs</a></li>
                    <li><a href="{% url 'core:about' %}" class="block text-gray-700 pl-2 py-2 lg:p-0 hover:bg-gray-100 lg:hover:bg-transparent lg:hover:underline">About Us</a></li>
                    <li><a href="{% url 'core:contact' %}" class="block text-gray-700 pl-2 py-2 lg:p-0 hover:bg-gray-100 lg:hover:bg-transparent lg:hover:underline">Contact</a></li>
                    <li>
                        {% component "button" label="Sign Up/Login" type="primary" width="full" attr="@click='openLoginModal = true'" %} {% endcomponent %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    

    <div class="wrapper w-full">
        {% block content %} {% endblock %}
    </div>
    
    <footer class="bg-slate-100 responsive-padding py-12 mt-28 flex flex-col gap-8">
        <div class="flex flex-col gap-2">
            <img src="{% static 'images/eaglespoint-logo.png' %}" width="72px"> 
            <p>Your trusted partner in real estate, travel, and education consulting.</p>
            <hr class="border-t border-gray-300 my-4">
        </div>

        <nav aria-label="Footer Navigation" class="flex flex-col">
            <div class="flex flex-col md:flex-row gap-y-6 gap-x-12 md:self-center" >
                <section>
                    <h2 class="text-lg uppercase font-semibold">Services</h2>
                    <ul class="mt-2 space-y-2 *:font-medium *:text-gray-700 *:hover:text-blue-600">
                        <li><a href="#">Real Estate</a></li>
                        <li><a href="#">Travel and Study</a></li>
                    </ul>
                </section>
                <section>
                    <h2 class="text-lg uppercase font-semibold">Quick Links</h2>
                    <ul class="mt-2 space-y-2 *:font-medium *:text-gray-700 *:hover:text-blue-600">
                        <li><a href="#">List with Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </section>
                
            </div>
        </nav>

        <div>
            <hr class="border-t border-gray-300 my-4">
            <ul class="mt-2 space-y-2 *:font-medium *:text-gray-700">
                <li><span class="font-bold">Telephone: </span><a class="hover:text-blue-600" href="tel:+2348165704879">+2348165704879</a></li>
                <li><span class="font-bold">Email: </span><a class="hover:text-blue-600" href="mailto:eaglespointglobal@gmail.com">eaglespointglobal@gmail.com</a></li>
                <li><span class="font-bold">Address: </span>No 5, Rumuwegwu, Igwuruta Road. Eneka first market, Port-Harcout, Rivers State</li>
            </ul>
        </div>

        <div>
            <p class="text-gray-700">&copy; <span x-data x-text="new Date().getFullYear()">2025</span> Eaglespoint Horizon Limited. All rights reserved. </p>
        </div>        
    </footer>
    

    <template x-if="openLoginModal">
        <div id="modal" class="fixed inset-0 flex items-center justify-center bg-gray-800/80 z-[1000000]">
            <div x-data="{ isLogin:true }" class="bg-white rounded-lg w-full max-w-[400px] shadow-lg">
                <div class="flex border-b py-2 px-4">
                    <button @click="openLoginModal = false"class="items-end ml-auto mt-4 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>

                <div class="w-full flex gap-4 justify-center *:w-24 *:border-b *:border-2 *:border-gray-300 *:rounded-sm *:px-4 *:py-2">
                    <button :class="!isLogin ? 'bg-gray-300' : 'bg-white'" @click="isLogin = false">Sign Up</button>
                    <button :class="isLogin ? 'bg-gray-300' : 'bg-white'" @click="isLogin = true">Login</button>
                </div>

                <div class="overflow-y-auto max-h-[80vh]">

                    <!-- Login Form -->
                    <form method="POST" onsubmit="handleLogin(event)" class="p-4" x-show="isLogin" x-cloak>
                        <div class="mb-6">
                            <h2 class="text-xl font-bold">Login</h2>
                            <div id="error-message" class="text-red-500 bg-red-100 text-center text-sm p-2 w-max hidden"></div>
                        </div>
                        
                        <div class="flex flex-col gap-3 lg:gap-4">
                            <div>
                                <label class="label-primary" for="id_username">Email</label>
                                <input class="input-primary" type="email" name="username" maxlength="254" required id="id_username" placeholder="Enter your email">
                            </div>

                            <div>
                                <label class="label-primary" for="id_password">Password</label>
                                <input class="input-primary" type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="Enter your password">
                            </div>

                            {% component "button" html_tag="button" label="Login" type="primary" width="full" function="submit" %} {% endcomponent %}
                        </div>
                    </form>

                    <!-- Signup Form (Separated from Login Form) -->
                    <form method="POST" onsubmit="handleSignUp(event)" class="p-4" x-show="!isLogin" x-cloak>
                        <div class="mb-6">
                            <h2 class="text-xl font-bold">Sign Up</h2>
                            <div id="notification" class="text-center text-sm border-xlg p-2 mt-2 hidden"></div>
                        </div>

                        <div class="flex flex-col gap-3 lg:gap-4">
                            <div>
                                <label for="id_first_name" class="label-primary">First Name</label>
                                <input class="input-primary" type="text" name="first_name" maxlength="150" id="id_first_name" required>
                            </div>
                            <div>
                                <label for="id_last_name" class="label-primary">Last Name</label>
                                <input class="input-primary" type="text" name="last_name" maxlength="150" id="id_last_name" required>
                            </div>
                            <div>
                                <label for="id_email" class="label-primary">Email</label>
                                <input class="input-primary" type="email" name="email" maxlength="254" required id="id_email">
                            </div>
                            <div>
                                <label for="id_password1" class="label-primary">Password</label>
                                <input class="input-primary" type="password" name="password1" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1">
                            </div>
                            <div>
                                <label for="id_password2" class="label-primary">Confirm Password</label>
                                <input class="input-primary" type="password" name="password2" autocomplete="new-password" required aria-describedby="id_password2_helptext" id="id_password2">
                            </div>
                    
                            {% component "button" html_tag="button" label="Register" type="primary" width="full" function="submit" %} {% endcomponent %}
                        </div>
                    </form>

                </div>
                
                
            </div>
        </div>
    </template>

    <!-- Modal (Initially Hidden) -->
    

    <script src="{% static 'js/helper_func.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    {% block script %}{% endblock %}
    
</body>
</html>