{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Eaglespoint Horizon Limited {% endblock %}</title>
    
    <!-- Favicon and Manifest -->
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicons/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicons/android-chrome-512x512.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">

    <meta name="description" content="{% block meta_description %} 
    Explore global opportunities with Eaglespoint Horizon Limited—your trusted partner in real estate, travel, and international education. From university admissions and scholarships to visa processing, flight booking, and property services, we help you study, work, or travel abroad seamlessly. 
    {% endblock %}">

    <meta name="keywords" content="{% block meta_keywords %}
    Eaglespoint Horizon Limited, study abroad, international education, work visa, permanent residence, flight booking, visa processing, hotel reservation, real estate in Nigeria, scholarships, SAT coaching, IELTS preparation, TOEFL tutoring, global travel services, university admission, flexible learning, relocation assistance, property services, travel consulting, education consulting
    {% endblock %}">

    <!-- Open Graph Tags -->
    <meta property="og:title" content="{% block og_title%} Eaglespoint Horizon Limited | Real Estate, Travel & International Education Experts {% endblock %}">
    <meta property="og:description" content="{% block og_description %}Start your global journey with Eaglespoint—trusted advisors in real estate, international education, and travel services. Get expert help with university admissions, visa processing, and property investments. {% endblock %}">  
    <meta property="og:image" content="{% block og_image %}{{ request.scheme }}://{{ request.get_host }}{% static 'images/eaglespoint-logo.png' %}{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Eaglespoint Horizon Limited">
    <!-- TODO add Robot Tag on final deployment -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    
    <script defer src="{% static 'js/alpine_component.js' %}"></script>
    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/sort@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        [x-cloak] {
            display: none !important;
        }
        body {
             opacity: 0;
            transition: opacity 0.3s ease;
        }
        body.visible {
            opacity: 1;
        }
        #page-loader {
            transition: opacity 0.3s ease;
        }
    </style>
    {% block styleblock %} {% endblock %}

</head>
<body class='font-base text-gray-900 flex flex-col min-h-[100vh]' x-data="{ openLoginModal: false }" x-init="
        $nextTick(() => {
            document.body.classList.add('visible');
            document.getElementById('page-loader')?.remove();
        })
    ">

    <div id="page-loader" class="fixed inset-0 flex items-center justify-center bg-red-600 z-[10000000]">
        <img src="{% static 'images/eaglespoint-logo.png' %}" alt="Loading..." class="w-24 h-auto animate-pulse">
    </div>
    
    {% block header %}
        {% component "header" %} {% endcomponent %}
    {% endblock %}
    

    <div class="wrapper w-full">
        {% block content %} {% endblock %}
    </div>
    
    <div class='mt-auto'>
        {% block footer %}
            {% component "footer" %} {% endcomponent %}
        {% endblock %}
    </div>
    

    <template x-if="$store.modal.openLoginModal">
        <div id="login-modal" class="fixed inset-0 flex items-center justify-center bg-gray-800/80 z-[1000000]">
            <div x-data="{ isLogin:true }" class="bg-white rounded-lg w-full max-w-[400px] shadow-lg">
                <div class="flex border-b border-gray-300 px-4 ">
                    <button @click="$store.modal.openLoginModal = false"class="ml-auto text-gray-600 p-2 rounded-lg hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>

                <div class="w-full flex gap-4 justify-center mt-2 *:w-24 *:px-4 *:py-2">
                    <button :class="!isLogin ? 'border-blue-600 border-b-2' : 'bg-white'" @click="isLogin = false">Sign Up</button>
                    <button :class="isLogin ? 'border-blue-600 border-b-2' : 'bg-white'" @click="isLogin = true">Login</button>
                </div>

                <div class="overflow-y-auto max-h-[80vh]">
                    <div x-show="isLogin" x-cloak>
                        <!-- Login Form -->
                        {% component "login_form" form_title="Login" form_class="p-4" show_signup_link=False autofocus=True is_js_submission=True %} {% endcomponent %}
                    </div>
                    
                    <div x-show="!isLogin" x-cloak>
                        <!-- Signup Form (Separated from Login Form) -->
                        {% component "signup_form" form_title="Sign Up" form_class="p-4" show_login_link=False autofocus=True is_js_submission=True %} {% endcomponent %}
                    </div>
                    
                   

                </div>
                
                
            </div>
        </div>
    </template>

    <!-- Modal (Initially Hidden) -->
    
    {% component "toast_notification" notification_type="success" message="" %} {% endcomponent %}
    {% component "toast_notification" notification_type="danger" message="" %} {% endcomponent %}
    {% component "toast_notification" notification_type="warning" message="" %} {% endcomponent %}

    {% component "loading_modal" %} {% endcomponent %}
    
    
    {% comment %} <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script> {% endcomment %}
    <script src="{% static 'js/helper_func.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        AOS.init({
            disable: function () {
                return window.innerWidth < 768; // Disable AOS if screen width is less than Tailwind's md breakpoint
            },
            duration: 600, 
            easing: 'ease-in-out',
            once: true,
            offset: 100
        });

        document.addEventListener('alpine:init', () => {
            Alpine.store('modal', {
                openLoginModal: false,
            });
        });

    </script>
    {% block script %}{% endblock %}
    
</body>
</html>