{% extends 'core/base.html'%}
{% load static %}

{% block title %} Contact Us | Eaglespoint Horizon Limited {% endblock %}
{% block meta_description %} Contact Eaglespoint Horizon Limited for expert guidance on real estate, study abroad, and travel services. Reach us via phone, email, or our online inquiry form. {% endblock %}
{% block meta_keywords %}Eaglespoint contact, contact real estate agency Nigeria, study abroad help, travel assistance, Eaglespoint Horizon Limited, Abuja real estate, education consulting, travel consulting{% endblock %}
{% block og_title%} Contact Us | Eaglespoint Horizon Limited {% endblock %}
{% block og_description %} Contact Eaglespoint Horizon Limited for expert guidance on real estate, study abroad, and travel services. Reach us via phone, email, or our online inquiry form. {% endblock %}

{% block content %}
<section class="contact responsive-padding pt-12 flex flex-col lg:flex-row  gap-12 items-center lg:items-stretch justify-between">
    
    
    <address class="relative w-full lg:w-2/5 bg-cover bg-center flex flex-col order-2 lg:order-1 not-italic items-center p-5 rounded-2xl" style="background-image: url('{% static 'images/house-duplex.jpg' %}');">
        <div class="absolute inset-0 bg-black/60 rounded-2xl"></div>
        <!-- <h1 class="relative text-4xl font-bold text-white">Contact Us</h1> -->
        <ul class="relative flex flex-row flex-wrap lg:flex-col lg:flex-wrap gap-y-6 gap-x-8 not-italic z-10  h-full rounded-2xl text-white *:flex *:flex-col *:lg:flex-row *:items-center *:gap-1 *:lg:gap-3 justify-center">
            <li>
                <span class="rounded-full bg-red-500 p-3"> 
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="white"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 400Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Z"/></svg>
                </span>
                
                <!-- <strong>Address:</strong>   -->
                <span>123 Real Estate St, Abuja, Nigeria</span>
            </li>
            <li>
                <span class="rounded-full bg-red-500 p-3"> 
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="white"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12Z"/></svg>
                </span>
                <a href="tel:+2348012345678">+234 801 234 5678</a>
            </li>
            <li>
                <span class="rounded-full bg-red-500 p-3"> 
                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="white"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280 320-200v-80L480-520 160-720v80l320 200Z"/></svg>
                </span>
                <a href="mailto:info@example.com">info@example.com</a>
            </li>
        </ul>
    </address>

    <form  class="w-full lg:w-3/5 max-w-2xl px-6 order-1 lg:order-2" method="post" action="{% url 'messaging:send-contact-form' %}" onsubmit="submitContactForm(event)">
        <h1 class="text-4xl font-bold mb-2"><span class="font-cursive text-red-600">Reach</span> Out To Us Today</h1>
        <p class="mb-4">
            Fill out  your information and our representative will reach out to you.<br>
            Do you have a simple question? Check out our <a href="#faq" class="text-blue-600 underline">Frequently Asked Questions</a>
        </p>

        <div class="flex flex-col gap-3 lg:gap-4">
            <div>
                <label for="sender_name" class="label-primary">Full Name</label>
                <input class="input-primary" type="text" id="sender_name" name="sender_name" required>
            </div>

            <div>
                <label for="sender_phone" class="label-primary">Phone Number</label>
                <input class="input-primary" type="tel" id="sender_phone" name="sender_phone" required>
            </div>

            <div>
                <label for="sender_email" class="label-primary">Email <i class="text-xs"> (optional)</i></label>
                <input class="input-primary" type="email" id="sender_email" name="sender_email">
            </div>

            <div>
                <label for="subject" class="label-primary">Subject</label>
                <input list="reasons" class="input-primary" type="text" id="subject" name="subject" required>
                <datalist id="reasons">
                    <option value="Property Inquiry">
                    <option value="Vacation Package Booking">
                    <option value="Relocation Services">
                    <option value="Corporate Travel">
                    <option value="Custom Tour Request">
                    <option value="Other">
                </datalist>
            </div>

            <div>
                <label for="message" class="label-primary">Your Message</label>
                <textarea class="input-primary resize-none" id="body" name="body" rows="4"  required></textarea>
            </div>

            {% component "button" html_tag="button" label="Send Inquiry" type="primary" width="full" function="submit" %} {% endcomponent %}
        </div>
    </form>
</section>

{% if faqs %}
<section class="responsive-padding mt-20 w-full bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-2xl sm:rounded-lg sm:px-10" id="faq">
    <h1 class="text-4xl font-bold text-center">FAQ</h1>
    <p class="text-center mb-4">Frequently Asked Questions</p>
    
    <dl>
        {% for faq in faqs %}
        <dt>
            <details class="border-b-2 border-b-gray-100 group py-5">
                <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
                    <span>{{ faq.question }}</span>
                    <span class="transition group-open:rotate-180">
                        <svg fill="none" height="24" shape-rendering="geometricPrecision"
                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.5" viewBox="0 0 24 24" width="24">
                            <path d="M6 9l6 6 6-6"></path>
                        </svg>
                    </span>
                </summary>
                <p class="group-open:animate-fadeIn mt-3 text-neutral-600">
                    {{ faq.answer }}
                </p>
            </details>
        </dt>
        {% endfor %}
    </dl>    
</section>
{% endif %}


    
{% endblock %}