{% extends "core/base.html" %}
{% load static %}

{% block title %}Home - Eaglespoint Horizon Limited{% endblock %}

{% block content %}
<main class="flex flex-col gap-20 overflow-x-hidden">

    <section class="travel-hero w-full self-stretch flex flex-col items-center gap-7 lg:gap-12 bg-slate-100 py-6 pb-0">
            <div class="flex flex-col gap-2 lg:w-4/5 responsive-padding items-center justify-center ">
                <div class="flex flex-col gap-2 items-center">
                    <h1 class="text-5xl lg:text-6xl text-center font-extrabold">Your Global Future <span class="text-red-500 font-cursive">Start Here</span></h1>
                    <p class="text-center text-lg">Looking to <span class="text-red-600 font-cursive">study, work or visit?</span>. We’ve got you covered!</p>
                    <ul class="text-lg w-max">
                        <li><i class="fa fa-check-circle text-green-400 ml-2"></i> University admissions & scholarships.</li>
                        <li><i class="fa fa-check-circle text-green-400 ml-2"></i> Work visa & permanent residence guidance.</li>
                        <li><i class="fa fa-check-circle text-green-400 ml-2"></i> Seamless travel arrangements.</li>
                    </ul>
                    {% comment %} <h1 class="text-5xl lg:text-6xl text-center font-extrabold">Plan Your Next <span class="text-red-500 font-cursive">Adventure</span></h1>
                    <p class="text-center text-lg">Want to <span class="text-red-600 font-cursive">study, work or visit</span>. Yeah! you are in the right place</p> {% endcomment %}
                </div>
                <p></p>
               
                <div class="flex flex-row gap-3 border rounded-lg w-max p-1 border-slate-400">
                    {% component "button" label="Start your Journey" type="primary" %} {% endcomponent %}
                    {% component "button" label="Study Abroad" type="tertiary" %} {% endcomponent %}
                </div>
            </div>
        
        <div class="relative w-full overflow-hidden inline-flex flex-nowrap">
        
            <div class="image-container w-max whitespace-nowrap flex items-start gap-6 animate-scroll *:w-60 *:h-60 *:object-cover *:rounded-lg">
                
                <img src="{% static 'images/paris-eiffel-tower.jpg' %}" class="w-60 h-60 object-cover rounded-lg">
                <img src="{% static 'images/toronto-image.jpg' %}" class="w-60 h-60 object-cover rounded-lg">
                <img src="{% static 'images/paris-eiffel-tower.jpg' %}" class="w-60 h-60 object-cover rounded-lg">
                <img src="{% static 'images/toronto-image.jpg' %}" class="w-60 h-60 object-cover rounded-lg">
                <img src="{% static 'images/paris-eiffel-tower.jpg' %}" class="w-60 h-60 object-cover rounded-lg">
                <img src="{% static 'images/toronto-image.jpg' %}" class="w-60 h-60 object-cover rounded-lg">
                <img src="{% static 'images/paris-eiffel-tower.jpg' %}" class="w-60 h-60 object-cover rounded-lg">
                <img src="{% static 'images/toronto-image.jpg' %}" class="w-60 h-60 object-cover rounded-lg">
                <img src="{% static 'images/paris-eiffel-tower.jpg' %}" class="w-60 h-60 object-cover rounded-lg">
                <img src="{% static 'images/toronto-image.jpg' %}" class="w-60 h-60 object-cover rounded-lg">
        
            </div>
        </div>
    </section>
    
    <section class="relative bg-cover bg-center text-white py-4 lg:py-10 responsive-padding" 
    style="background-image: url('{% static 'images/house-duplex.jpg' %}');">
    
        <!-- Overlay -->
        <div class="absolute inset-0 bg-blue-800/50"></div> 

        <!-- Content -->
        <div class="relative z-10">
            <h2 class="text-2xl font-bold mb-4" data-aos="fade-in">Are You Interested In Our Real Estate?</h2>
            {% component "button" label="Find out More" href="{% url 'core:real_estate' %}" type="primary" attr="data-aos='fade-in' data-aos-duration='900'" %} {% endcomponent %}
        </div>

    </section>

    <section class="flex flex-col gap-4 lg:flex-row lg:justify-between lg:items-center responsive-padding" data-aos="fade-up">
        <h2 class="text-4xl lg:text-6xl font-extrabold text-center lg:w-1/4 lg:text-left"><span class="text-red-600 font-cursive">Explore</span> Our Travel Services</h2>
        <div class="flex flex-col md:flex-row md:flex-wrap justify-center items-center gap-6 *:w-64 *:h-64 *:flex *:flex-col *:gap-2 *:items-center *:justify-center *:px-2 *:rounded-xl *:shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)]">
            <div>
                <img src="{% static 'images/material-symbols-light-flight.svg' %}" class="w-16 h-16">
                <div class="text-xl font-bold">Flight Booking</div>
                <p class="text-center font-medium">Seamless flight reservations at the best rates, ensuring a smooth journey.</p>
            </div>
            <div>
                <img src="{% static 'images/icon-park_passport.svg' %}" class="w-16 h-16">
                <div class="text-xl font-bold">Visa Processing</div>
                <p class="text-center font-medium">Expert guidance to simplify your visa application and approval process.</p>
            </div>
            <div>
                <img src="{% static 'images/fluent-emoji-flat_hotel.svg' %}" class="w-16 h-16">
                <div class="text-xl font-bold">Hotel Reservation</div>
                <p class="text-center font-medium">Find and book the perfect stay, from budget-friendly to luxury hotels.</p>
            </div>
            <div>
                <img src="{% static 'images/noto_graduation-cap.svg' %}" class="w-16 h-16">
                <div class="text-xl font-bold">Study Abroad</div>
                <p class="text-center font-medium">Secure admissions and visas for top universities worldwide.</p>
            </div>
        </div>
    </section>

    <div class="flex flex-col gap-20">
        <section class="bg-slate-100 flex flex-col gap-3 lg:flex-row lg:justify-between lg:items-center" data-aos="fade-up">
            <div class="responsive-padding lg:p-0 lg:w-1/2 lg:pl-20">
                <h3 class="text-4xl font-extrabold mb-3"><span class="text-red-600 font-cursive">Unlock</span> Your Global Academic Dream</h3>
                <p>Are you a scholar seeking to explore new horizons, meet new people, and achieve academic excellence abroad? Look no further! At Eaglespoint Horizon Limited, we specialize in simplifying the study abroad process, ensuring a seamless and enjoyable experience for you.
                </p>
            </div>
            <img src="{% static 'images/happy-graduand.jpeg' %}" class="w-full lg:max-w-96 h-auto max-h-64 lg:h-full object-cover">
        </section>
    
        <section class="flex flex-col gap-3 lg:flex-row-reverse lg:justify-between lg:items-center" data-aos="fade-up">
            <div class="responsive-padding lg:p-0 lg:w-1/2 lg:pr-20">
                <h3 class="text-4xl font-extrabold mb-3 pr-20"><span class="text-red-600 font-cursive">Worry-less</span> about SAT, TOEFL, IELTS</h3>
                <p>Our team of experienced and professional tutors will coach and prepare you to achieve excellent results and higher scores. With higher scores, you'll increase your chances of securing a scholarship!</p>
            </div>
            <img src="{% static 'images/man-2562325_1280.jpg' %}" class="w-full lg:max-w-96 h-auto max-h-64 object-cover">
        </section>
        
        <section class="bg-slate-100 flex flex-col gap-3 lg:flex-row lg:justify-between lg:items-center" data-aos="fade-up">
            <div class="responsive-padding lg:p-0 lg:w-1/2 lg:pl-20">
                <h3 class="text-4xl font-extrabold mb-3"><span class="text-red-600 font-cursive">Enjoy</span> Flexible Learning Options</h3>
                <p>Our services cater to both schools and individuals. For schools, we'll send a team of capable teachers to instruct students within their primary learning environment, ensuring a seamless integration with curricular activities. Individuals can join us at our conducive learning environment or opt for online courses, eliminating physical barriers.
                </p>
            </div>
            <img src="{% static 'images/co-learning.jpg' %}" class="w-full lg:max-w-96 h-auto max-h-64 lg:h-full object-cover">
        </section>
    </div>

    <!-- Stats and Partner Section -->
    {% component "stats_partner" %} {% endcomponent %}

    <section class="testimonial responsive-padding relative bg-repeat py-8 bg-[100px] text-white" style="background-image: url({% static 'images/pattern4.svg' %}); background-color:blue;" data-aos="fade-up">
        <!-- overlay -->
        <div class="absolute inset-0"></div>
        <!-- content -->
        <div class="relative z-10 flex flex-col gap-7 items-center">
            <h3 class="text-4xl font-semibold">Listen to our Trusted Clients <span class="text-red-600 fa fa-heart"></span></h3>
            <div class="card-container flex flex-col md:flex-row md:flex-wrap justify-center gap-6 *:bg-white *:text-gray-700 *:py-6 *:px-4 *:w-full *:md:w-72 *:rounded-xl *:shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] *:inline-flex *:flex-col *:items-start *:gap-4 *:overflow-hidden">
                <div class="card">
                    <img src="{% static 'images/quote-svgrepo-com.svg' %}" width="20px" class="w-14 h-14">
                    <div class="body">
                        I'd always dreamed of living and working abroad. Eaglespoint's expert guidance made it possible. They helped me navigate the Permanent Residence process, ensuring a flawless application. I highly recommend Eaglespoint to anyone seeking to relocate abroad. Their professionalism and expertise are unmatched. Thank you, Eaglespoint, for making my dream a reality!
                    </div>
                    <div>
                        <img>
                        <span class="border-b-1 border-gray-800 uppercase text-gray-950 font-semibold">Mr. Gospel</span>
                    </div>
                </div>

                <div class="card">
                    <img src="{% static 'images/quote-svgrepo-com.svg' %}" width="20px" class="w-14 h-14">
                    <div class="body">
                        I'm forever grateful to Eaglespoint Horizon Limited for guiding me through my international education journey. From securing admission to studying abroad, graduating, and now working as a lecturer, Eaglespoint has been an invaluable partner. Their competence, efficiency, and dedication to customer satisfaction are unparalleled. I highly recommend Eaglespoint to anyone seeking to study abroad or relocate internationally. They truly helped me achieve my dreams!
                    </div>
                    <div>
                        <img>
                        <span class="border-b-1 border-gray-800 uppercase text-gray-950 font-semibold">Mr. Bethel</span>
                    </div>
                </div>

                <div class="card">
                    <img src="{% static 'images/quote-svgrepo-com.svg' %}" width="20px" class="w-14 h-14">
                    <div class="body">
                        I'm forever grateful to Eaglespoint for making my study abroad dreams a reality! Their guidance and support throughout the application and visa process were invaluable. I'm now proudly holding a degree from a prestigious international university, and I couldn't have done it without Eaglespoint's expertise. Thank you for helping me soar to new heights!
                    </div>
                    <div>
                        <img>
                        <span class="border-b-1 border-gray-800 uppercase text-gray-950 font-semibold">Mr. Elle</span>
                    </div>
                </div>
    
                
            </div>
        </div>

    </section>

    <section class="responsive-padding flex flex-col gap-7" data-aos="fade-up">
        <h2 class="text-4xl font-semibold">Stay Informed with Our Blog</h2>
        <div class="flex flex-row flex-wrap gap-6 items-center justify-center">
            {% component "blog_card" title="The Ultimate Guide to Stress-Free Travel Planning" tag="Travel" imageUrl="{% static 'images/aiplane-window.jpeg' %}" excerpt="Traveling can be overwhelming, but with the right planning, it becomes an exciting experience. This blog will cover essential travel hacks, packing tips, and how to find the best flight deals." %} {% endcomponent %}

            {% component "blog_card" title="The Ultimate Guide to Stress-Free Travel Planning" tag="Travel" imageUrl="{% static 'images/aiplane-window.jpeg' %}" excerpt="Traveling can be overwhelming, but with the right planning, it becomes an exciting experience. This blog will cover essential travel hacks, packing tips, and how to find the best flight deals." %} {% endcomponent %}

            {% component "blog_card" title="The Ultimate Guide to Stress-Free Travel Planning" tag="Travel" imageUrl="{% static 'images/aiplane-window.jpeg' %}" excerpt="Traveling can be overwhelming, but with the right planning, it becomes an exciting experience. This blog will cover essential travel hacks, packing tips, and how to find the best flight deals." %} {% endcomponent %}
            
             
        </div>
    </section>

</main>
    
{% endblock %}
