{% extends "core/base.html" %}
{% load static %}

{% block title %}Home - Eaglespoint Horizon Limited{% endblock %}

{% block styleblock %}
<style>
    .scrollbar-hide::-webkit-scrollbar {
    display: none;
    }
    .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    }
</style>
{% endblock %}

{% block content %}
<main class="flex flex-col gap-20">
    <section class="hero responsive-padding bg-blue-800 flex flex-col justify-center gap-6 lg:gap-9 py-3 lg:py-20 lg:px-60">
        <h1 class="text-white text-5xl lg:text-6xl text-center font-extrabold">Want a Property? Get One!</h1>
        <div>
            <!-- Search Bar -->
            <form method="GET" action="{% url 'listing:search_listing' %}" role="search" class="flex items-stretch w-full h-10 border border-gray-50 bg-slate-200/100 rounded-lg focus:ring-2 focus:ring-blue-500 hover:border-blue-500 transition">
                <input type="search" name="search_query" aria-label="Search" class="block w-full px-4 py-2 focus:outline-none" 
                       placeholder="Search Location or Properties">
                <button class="bg-blue-600 text-white h-full p-2 rounded-r-lg"><i class="fa fa-search fa-lg"></i></button>
            </form>
        </div>
    </section>

    <!-- Stats and Partner Section -->
    {% component "stats_partner" %} {% endcomponent %}

    {% if listings %}
        <section class="flex flex-col gap-6 responsive-padding">
            <h3 class="text-4xl font-semibold">Featured Listings</h3>
            <div class="relative">

                <!-- Arrow Buttons (Visible on Desktop) -->
                <button class="hidden md:block absolute -left-6 top-1/2 transform -translate-y-1/2 bg-white border border-red-500 p-2 rounded-full shadow-md z-10 cursor-pointer hover:bg-gray-200" type="button" onclick="scrollListLeft()">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                </button>
                <button class="hidden md:block absolute -right-6 top-1/2 transform -translate-y-1/2 bg-white border border-red-500 p-2 rounded-full shadow-md z-10 cursor-pointer hover:bg-gray-200" type="button" onclick="scrollListRight()">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                </button>

                <div id="listingScroll" class="w-full flex gap-6 overflow-x-scroll snap-x snap-mandatory scrollbar-hide md:scrollbar-default *:*:w-[280px]">
                    {% for result in listings %}
                        {% component "listing_card" 
                            title=result.title 
                            href="/listing/property/{{ result.id }}/" 
                            price=result.price 
                            size=result.size 
                            type=result.listing_type 
                            imageUrl=result.cover_image.url 
                            address="{{result.street_address}}, {{result.lga}}, {{result.state}}" 
                            listing=result
                            id=result.pk 
                            user_favourites=user_favourites 
                        %}
                        {% endcomponent %}
                    {% endfor %}

                    <div>
                        <a class="flex flex-col justify-center items-center h-full rounded-lg border-2 border-blue-500 bg-gray-200" href="{% url 'listing:search_listing' %}">
                            <div class="p-1.5 rounded-sm bg-gray-700 shadow">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 -960 960 960" fill="#ffffff"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                            </div>
                            
                            <p class="font-semibold">Start searching!</p>

                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    

    <section class="py-8 responsive-padding" data-aos="fade-up">
        <h3 class="text-4xl font-semibold mb-6">Popular Cities</h3>
        <div class="flex gap-6 justify-start items-center flex-nowrap overflow-x-auto *:shrink-0 *:h[420]">
            <div class="relative w-64 aspect-[9/16] overflow-hidden rounded-lg">
                <div class="absolute inset-0 bg-black/50"></div>
                <img src="{% static 'images/paris-eiffel-tower.jpg' %}" 
                    alt="Eiffel Tower, Paris" 
                    class="w-full h-full object-cover rounded-lg">
        
                <figcaption class="absolute bottom-4 left-4 text-white text-xl font-semibold">
                    Lagos
                </figcaption>
            </div>
    
            <div class="relative w-64 aspect-[9/16] overflow-hidden rounded-lg">
                <div class="absolute inset-0 bg-black/50"></div>
                <img src="{% static 'images/abuja.jpeg' %}" 
                    alt="Abuja" 
                    class="w-full h-full object-cover rounded-lg">
        
                <figcaption class="absolute bottom-4 left-4 text-white text-xl font-semibold">
                    Abuja
                </figcaption>
            </div>

            <div class="relative w-64 aspect-[9/16] overflow-hidden rounded-lg">
                <div class="absolute inset-0 bg-black/50"></div>
                <img src="{% static 'images/abuja.jpeg' %}" 
                    alt="Abuja" 
                    class="w-full h-full object-cover rounded-lg">
        
                <figcaption class="absolute bottom-4 left-4 text-white text-xl font-semibold">
                    Abuja
                </figcaption>
            </div>

            <div class="relative w-64 aspect-[9/16] overflow-hidden rounded-lg">
                <div class="absolute inset-0 bg-black/50"></div>
                <img src="{% static 'images/abuja.jpeg' %}" 
                    alt="Abuja" 
                    class="w-full h-full object-cover rounded-lg">
        
                <figcaption class="absolute bottom-4 left-4 text-white text-xl font-semibold">
                    Abuja
                </figcaption>
            </div>
        </div>
        
    </section>
    
    <section class="flex flex-col gap-4 lg:flex-row lg:justify-between lg:items-center responsive-padding" data-aos="fade-up">
        <h2 class="text-4xl lg:text-5xl font-extrabold text-center lg:w-1/4 lg:text-left">Why Chose <span class="text-blue-600 font-cursive">Us?</span></h2>
        <div class="flex flex-col md:flex-row md:flex-wrap justify-center items-center gap-6 *:w-64 *:h-64 *:flex *:flex-col *:gap-2 *:items-center *:justify-center *:px-2 *:rounded-xl *:shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)]">
            <div>
                <img src="{% static 'images/noto_brain.svg' %}" class="w-16 h-16">
                <div class="text-xl font-bold text-center">Local Market Experts</div>
                <p class="text-center">With deep knowledge of the Nigerian real estate market, we help you make informed decisions, whether buying, selling, or renting.</p>
            </div>
            <div>
                <img src="{% static 'images/mingcute_target-fill.svg' %}" class="w-16 h-16">
                <div class="text-xl font-bold text-center">Service Tailored Just for You</div>
                <p class="text-center">Your needs come first! We provide personalized solutions to match your property goals.</p>
            </div>
            <div>
                <img src="{% static 'images/emojione_handshake-medium-dark-skin-tone.svg' %}" class="w-16 h-16">
                <div class="text-xl font-bold text-center">Trusted Network of Professionals</div>
                <p class="text-center">Gain access to reliable contractors, legal advisors, and property managers to ensure a smooth experience.</p>
            </div>
        </div>
    </section>

    <section class="lg:pr-0 bg-slate-100 flex flex-col gap-3 lg:flex-row lg:justify-between lg:items-center">
        <div class="responsive-padding py-4 md:py-0 pr-0">
            <h3 class="text-4xl lg:text-5xl font-extrabold mb-1.5 pr-20"><span class="font-cursive text-blue-600">SELL</span> Your Property or <span class="font-cursive text-blue-600">RENT</span> Your Apartment with Confidence!</h3>
            <p class="mb-3">Let our experienced team handle it for you.</p>
            {% component "button" label="List with Us" type="primary" %} {% endcomponent %}
        </div>
        <img src="{% static 'images/8f8b116b79ed25b75ae82abf0a2e31a6.jpeg' %}" class="w-full lg:max-w-96 h-auto max-h-64 lg:h-full object-cover">
    </section>

    <section class="relative bg-cover bg-center text-white py-4 lg:py-10 responsive-padding" 
    style="background-image: url('{% static 'images/airplane.jpg' %}');">
    
        <!-- Overlay -->
        <div class="absolute inset-0 bg-red-500/70"></div> 

        <!-- Content -->
        <div class="relative z-10">
            <h2 class="text-2xl font-bold mb-4">Interested in Travels or Study Abroad?</h2>
            {% component "button" label="Find out More" href="{% url 'core:home'%}" type="primary" %} {% endcomponent %}
        </div>

    </section>
</main>

    
{% endblock %}

{% block script %}
    <script>

        function openModalForLogin() {
            Alpine.store('modal').openLoginModal = true;
        }

        const listingScrollList = document.getElementById('listingScroll');
        scrollDistance = (listingScrollList.clientWidth) / 2;
        function scrollListLeft(){
            listingScrollList.scrollBy({left: -scrollDistance, behavior: 'smooth'});
            console.log(listingScrollList)
            console.log("Scroll left clicked")
        }
        function scrollListRight(){
            listingScrollList.scrollBy({left: scrollDistance, behavior: 'smooth'});
            // listingScrollList.scrollBy(singleScroll, 0);
            // console.log( listingScrollList.clientWidth )
            console.log("Scroll right clicked")
        }

        
    </script>
{% endblock %}