<form method="post" action="{% url 'cmscontent:create-team-member'%}" enctype="multipart/form-data" class="" onsubmit="submitTeamMemberForm(event)">
    <div class="flex flex-col gap-3 lg:gap-4">
        <div>
            <label for="id_name" class="label-primary">Name</label>
            <input class="input-primary" type="text" name="name" required id="id_name">
        </div>

        <div>
            <label for="id_position" class="label-primary">Position</label>
            <input class="input-primary" type="text" name="position" required id="id_position">
        </div>

        <div x-data="{ image:'{{ member.photo.url }}' }">
                <div class="label-primary">Photo</div>
                <div class="flex items-center justify-center w-full">
                    <label for="id_photo" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                        <template x-if="!image">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                </svg>
                                <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                <!-- <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF (MAX. 800x400px)</p> -->
                            </div>
                        </template>

                        <template x-if="image">
                            <div class="relative w-full h-full">
                                <div class="w-full h-full flex  items-center justify-center absolute inset-0 bg-gradient-to-t from-black/40 to-transparent">
                                    <label for="id_photo" type="button" class="btn text-white border-2 border-white rounded-xl w-fit h-fit">Replace</button>
                                </div>
                                <div class="w-full h-full">
                                    <img :src="image" class="w-full h-full object-cover mt-2">
                                </div>
                            </div>
                        </template>
                        
                        <input id="id_photo" type="file" name="photo" class="hidden" @change="image = URL.createObjectURL($event.target.files[0])" required/>
                    </label>
                </div> 
            </div>

        <div class="flex gap-x-2 justify-end md:flex-row">
            <button class="btn primary-btn w-max" type="submit">Add Member</button>
        </div>

    </div>
</form>