<div class="my-4 flex justify-end">
    <button class="my-4 btn primary-btn" onclick="view_add_member_form()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M450-450H220v-60h230v-230h60v230h230v60H510v230h-60v-230Z"></path></svg>
        <span>Add Member</span>
    </button>
</div>

{% if team_members %}
    <section>
        <h1 class="text-4xl font-bold text-center mb-4">Meet Our Team</h1>
        <div class="flex gap-3 justify-start items-center flex-nowrap overflow-x-auto" 
            x-data="sortList( {{ team_members_json|safe }}, '{% url 'cmscontent:save-order-team-member' %}', '{{ csrf_token }}' )" 
            x-sort="updateOrder" x-sort:config="{ handle: '[x-sort\\:handle]' }">
            <template x-for="(item, index) in items" :key="item.id">
                <div class="flex flex-col gap-2" x-sort:item="item">
                    <figure class="relative h-[408px] w-full min-w-52 rounded-lg overflow-hidden">
                        <div class="absolute right-0 top-0 p-2 bg-gray-50 cursor-move z-10" x-sort:handle>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M360-160q-33 0-56.5-23.5T280-240q0-33 23.5-56.5T360-320q33 0 56.5 23.5T440-240q0 33-23.5 56.5T360-160Zm240 0q-33 0-56.5-23.5T520-240q0-33 23.5-56.5T600-320q33 0 56.5 23.5T680-240q0 33-23.5 56.5T600-160ZM360-400q-33 0-56.5-23.5T280-480q0-33 23.5-56.5T360-560q33 0 56.5 23.5T440-480q0 33-23.5 56.5T360-400Zm240 0q-33 0-56.5-23.5T520-480q0-33 23.5-56.5T600-560q33 0 56.5 23.5T680-480q0 33-23.5 56.5T600-400ZM360-640q-33 0-56.5-23.5T280-720q0-33 23.5-56.5T360-800q33 0 56.5 23.5T440-720q0 33-23.5 56.5T360-640Zm240 0q-33 0-56.5-23.5T520-720q0-33 23.5-56.5T600-800q33 0 56.5 23.5T680-720q0 33-23.5 56.5T600-640Z"/></svg>                        </div>   
                        <div class="absolute inset-0 bg-gradient-to-t from-black/40 to-transparent"></div>

                        <img :src="item.photo" width="320px" class="h-full w-full object-cover">
                        <figcaption class="absolute w-full bottom-4 *:block text-white text-center">
                            <span class="uppercase font-bold" x-text="item.name"></span>
                            <span x-text="item.position">{{ member.position }}</span>
                        </figcaption> 
                    </figure>
                    <div class="flex justify-around">
                        <button class="btn primary-btn w-min" sr-only="Edit" @click="view_edit_member_form(item.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M120-120v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm584-528 56-56-56-56-56 56 56 56Z"/></svg>
                        </button>
                        <button class="delete-btn btn text-white bg-red-500 hover:bg-red-700 w-min" aria-label="Delete" :data-id="item.id" onclick="openDeleteMemberModal(event)">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" sr-only="Delete" fill="currentColor"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm80-160h80v-360h-80v360Zm160 0h80v-360h-80v360Z"/></svg>
                        </button>
                    </div>
                </div>
            </template>
        </div>
    </section>
{% endif %}

<script>
    function openDeleteMemberModal(e){
        const element = e.target;
        const data_id = element.getAttribute('data-id');
        const modal = document.getElementById("modal-delete_member_modal")
        const del_btn = modal.querySelector('.delete-btn')
        console.log(del_btn)
        del_btn.onclick = function(){
            deleteMember(event, data_id)
        }
        openModal_delete_member_modal();
    }

    function submitTeamMemberForm(event){
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form)

        const submitBtn = form.querySelector('button[type="submit"]');
        let originalText = submitBtn.innerHTML;
        submitBtn.innerHTML = `<i class="fa fa-spinner fa-spin"></i>`;
        submitBtn.disabled = true;     

        console.log(form.action)
        fetch(form.action, {
            method: "POST",
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCsrfToken(),
            },
        })
        .then(response => response.json())
        .then(data => {
            if(data.success){
                showToastNotification('success', data.message)

                // Refresh 
                alpineContainer = Alpine.$data(cms_container);
                activeTab = alpineContainer.activeTab
                alpineContainer.loadTemplate(activeTab)

                //close modal
                closeModal_team_member_form();
                
            } else{
                displayFormError(data.errors, form);
                console.log(data.errors);
                return;
            }
        })
        .catch(error => {
             console.error(error);
             showToastNotification('danger', 'Something went wrong, please try again');
        })
        .finally(() => {
            submitBtn.disabled = false;
            submitBtn.innerHTML = originalText;
        })

    }


    function updateTeamMember(event, testimonial_id){
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form)

        const submitBtn = form.querySelector('button[type="submit"]');
        let originalText = submitBtn.innerHTML;
        submitBtn.innerHTML = `<i class="fa fa-spinner fa-spin"></i> Updating...`;
        submitBtn.disabled = true; 

        fetch(form.action, {
            method: "POST",
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCsrfToken(),
            },
        })
        .then(response => response.json())
        .then(data => {
            if(data.success){
                showToastNotification('success', data.message)

                // Refresh 
                alpineContainer = Alpine.$data(cms_container);
                activeTab = alpineContainer.activeTab
                alpineContainer.loadTemplate(activeTab)
                
                //close modal
                closeModal_team_member_form();

            } else{
                displayFormError(data.errors, form);
                console.log(data.errors);
                return;
            }
        })
        .catch(error => {
             console.error(error);
             showToastNotification('danger', 'Something went wrong, please try again');
        })
        .finally(() => {
            submitBtn.disabled = false;
            submitBtn.innerHTML = originalText;
        })
    }

    
    function deleteMember(event, id){
        const url = '{% url 'cmscontent:delete-member' 123 %}'.replace("123", id);
        
        deleteBtn = event.currentTarget;
        originalText = deleteBtn.innerHTML   
        deleteBtn.disabled = true; 
        deleteBtn.innerHTML = `<i class="fa fa-spinner fa-spin"></i> Deleting...`;
        
        fetch(url, {
            method: "POST",
            headers: {
            "X-Requested-With": "XMLHttpRequest",
            "X-CSRFToken": getCsrfToken()
            }
        })
        .then(response => response.json())
        .then(data => {
            if(data.success){
                showToastNotification('success', data.message)
                
                // Refresh 
                alpineContainer = Alpine.$data(cms_container);
                activeTab = alpineContainer.activeTab
                alpineContainer.loadTemplate(activeTab)

                //close modal
                closeModal_delete_member_modal();         
            } else{
                console.error("Error", data.error)
                showToastNotification('danger', 'Something went wrong, please try again')
            }
        })
        .catch(error => {
            console.error("Error", error) 
            showToastNotification('danger', 'Something went wrong, please try again')
        })
        .finally(() => {
            deleteBtn.disabled = false
            deleteBtn.innerHTML = originalText
        })
    }
</script>
