{% extends 'adminv2/base.html'%}
{% load static %}

{% block title %}{% endblock %}

{% block section_title %} Contact Messages {% endblock %}

{% block content %} 
    <div>
        
    </div>
    <div x-data="{loading:true}" id="table-wrapper">
        <div x-show="loading">   
            {% component "table_skeleton" %} {% endcomponent %}
        </div>
        <div x-show="!loading" id="message-list-container" class="relative overflow-x-auto shadow-md sm:rounded-lg">
        
        </div>
    </div>
    
    
    {% component "modal" modal_type="message_info" modal_title="Contact Message Information" classes="lg:w-4/5 h-[90%] overflow-y-auto" %}
        {% fill "children" %}
        <div class="modal-body overflow-y-auto h-[90%] px-4 py-6">

        </div>
        {% endfill %}
    {% endcomponent %}

    <script>
         window.addEventListener('DOMContentLoaded', () => {
            fetchMessages();
        });

        function fetchMessages(){
            const messagesContainer = document.getElementById("message-list-container");
            const tableWrapper = document.getElementById("table-wrapper");
            const url = '{% url 'adminv2:get-messages' %}';

            fetch(url, {
                method: "POST",
                headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCsrfToken()
                }
            })
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const messagesHTML = doc.body.innerHTML;
                messagesContainer.innerHTML = messagesHTML;
                console.log('done')

                Alpine.nextTick(() => {
                    alpineTableData = Alpine.$data(tableWrapper);
                    if (alpineTableData) {
                        alpineTableData.loading = false;
                    }
                });
            })
        }

        function viewMessageInfo(message_id){
            const url = '{% url 'adminv2:get-messages' 123 %}'.replace("123", message_id);
             fetch(url, {
                method: "GET",
                headers: {
                "X-Requested-With": "XMLHttpRequest",
                }
            })
            .then(response => response.text())
            .then(data => {
                // since the data is a full html stuff, we need to extract the innerHTML of the body
                let parser = new DOMParser();
                let doc = parser.parseFromString(data, 'text/html');
                let message_info = doc.body.innerHTML;
                let modal = document.getElementById('modal-message_info')

                modal.querySelector('.modal-body').innerHTML = message_info;
                openModal_message_info();
            })
            .catch(error => {
                console.log("Error:", error);
                showToastNotification('danger', 'Something went wrong');
            })
        }
          
       
        function deleteMessage(message_id, event){
            const url = '{% url 'adminv2:delete-message' 123 %}'.replace("123", message_id);
            
            deleteBtn = event.currentTarget;
            originalText = deleteBtn.innerHTML   
            deleteBtn.disabled = true; 
            deleteBtn.innerHTML = `<i class="fa fa-spinner fa-spin"></i> Deleting...`;
            
            fetch(url, {
                method: "POST",
                headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCsrfToken()
                }
            })
            .then(response => response.json())
            .then(data => {
                if(data.success){
                    showToastNotification('success', 'Message has been deleted')
                    closeModal_message_info(); //close modal after deleting
                } else{
                    console.error("Error", data.error)
                    showToastNotification('danger', 'Something went wrong, please try again')
                }
            })
            .catch(error => {
                console.error("Error", error) 
                showToastNotification('danger', 'Something went wrong, please try again')
            })
            .finally(() => {
                deleteBtn.disabled = false
                deleteBtn.innerHTML = originalText
            })
        }
    </script>
{% endblock  %}