{% extends 'adminv2/base.html'%}
{% load static %}

{% block title %}{% endblock %}

{% block section_title %} Contact Messages {% endblock %}

{% block content %} 

    <div>
        <form class="max-w-md mx-auto mb-6 mt-6" onsubmit="handleSearch(event)">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="text" id="message-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Messages..." />
        
                <!-- Filters Button with similar classes as Search -->
                <button type="button" class="flex gap-1 items-center absolute end-2.5 bottom-1.5 bg-blue-700 text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" onclick='openModal_sort_message_filter()'>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M120-240v-80h240v80H120Zm0-200v-80h480v80H120Zm0-200v-80h720v80H120Z"/></svg>
                    <span>Sort</span>
                </button>
            </div>

            <!-- sort modal -->
            {% component "modal" modal_type="sort_message_filter" modal_title="Sort by" %}
                {% fill 'children' %}
                    <div class="p-4 flex flex-col gap-6">
                        <div class="space-y-2">
                            <label class="block">
                                <input type="radio" name="sort" value="date_desc" class="mr-2 accent-red-500" checked>
                                Newest
                            </label>
                            <label class="block">
                                <input type="radio" name="sort" value="date_asc" class="mr-2 accent-red-500">
                                Oldest
                            </label>
                        </div>
                        <button class="btn primary-btn w-full" type="submit">Filter</button>
                    </div>
                {% endfill %}
            {% endcomponent %}
        </form>
    </div>
    <div x-data="{loading:true}" id="table-wrapper">
        <div x-show="loading">   
            {% component "table_skeleton" %} {% endcomponent %}
        </div>
        <div x-show="!loading" id="message-list-container" class="relative flex flex-col items-center shadow-md sm:rounded-lg">
        
        </div>
    </div>
    
    
    {% component "modal" modal_type="message_info" modal_title="Contact Message Information" classes="lg:w-4/5 h-[90%] overflow-y-auto" %}
        {% fill "children" %}
        <div class="modal-body overflow-y-auto h-[90%] px-4 py-6">

        </div>
        {% endfill %}
    {% endcomponent %}

    <script>
         window.addEventListener('DOMContentLoaded', () => {
            fetchMessages();
        });

         const messagesContainer = document.getElementById("message-list-container");
        const tableWrapper = document.getElementById("table-wrapper");

        let search_params = new URLSearchParams(window.location.search)
        
        function fetchMessages(page=1){

            base_url = '{% url 'adminv2:get-messages' %}';
            search_params.set('page', page)

            fetch(`${base_url}?${search_params.toString()}`, {
                method: "POST",
                headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCsrfToken()
                }
            })
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const messagesHTML = doc.body.innerHTML;
                messagesContainer.innerHTML = messagesHTML;
                console.log('done')

                
            })
            .finally(() => {
                Alpine.nextTick(() => {
                    alpineTableData = Alpine.$data(tableWrapper);
                    if (alpineTableData) {
                        alpineTableData.loading = false;
                    }
                });
            })
        }


        function handleSearch(e, page=1){
            if(e){
                e.preventDefault();
            }
            
            const search_query = document.getElementById('message-search');
            const selectedSortRadio = document.getElementsByName('sort');
            
            let selectedSortValue = "";
            selectedSortRadio.forEach(radio=>{
                if(radio.checked){
                    selectedSortValue = radio.value;
                }
            })

            search_params = new URLSearchParams(); 
            search_params.set('search_query', search_query.value);
            search_params.set('selected_sort', selectedSortValue);
            
            alpineTableData = Alpine.$data(tableWrapper);
            alpineTableData.loading = true;
            base_url = '{% url 'adminv2:get-messages' %}';
            fetchMessages(page);
        }

        function viewMessageInfo(message_id){
            const url = '{% url 'adminv2:get-messages' 123 %}'.replace("123", message_id);
             fetch(url, {
                method: "GET",
                headers: {
                "X-Requested-With": "XMLHttpRequest",
                }
            })
            .then(response => response.text())
            .then(data => {
                // since the data is a full html stuff, we need to extract the innerHTML of the body
                let parser = new DOMParser();
                let doc = parser.parseFromString(data, 'text/html');
                let message_info = doc.body.innerHTML;
                let modal = document.getElementById('modal-message_info')

                modal.querySelector('.modal-body').innerHTML = message_info;
                openModal_message_info();
            })
            .catch(error => {
                console.log("Error:", error);
                showToastNotification('danger', 'Something went wrong');
            })
        }
          
       
        function deleteMessage(message_id, event){
            const url = '{% url 'adminv2:delete-message' 123 %}'.replace("123", message_id);
            
            deleteBtn = event.currentTarget;
            originalText = deleteBtn.innerHTML   
            deleteBtn.disabled = true; 
            deleteBtn.innerHTML = `<i class="fa fa-spinner fa-spin"></i> Deleting...`;
            
            fetch(url, {
                method: "POST",
                headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCsrfToken()
                }
            })
            .then(response => response.json())
            .then(data => {
                if(data.success){
                    showToastNotification('success', 'Message has been deleted')
                    closeModal_message_info(); //close modal after deleting
                    handleSearch(null) //refresh list after deleting
                } else{
                    console.error("Error", data.error)
                    showToastNotification('danger', 'Something went wrong, please try again')
                }
            })
            .catch(error => {
                console.error("Error", error) 
                showToastNotification('danger', 'Something went wrong, please try again')
            })
            .finally(() => {
                deleteBtn.disabled = false
                deleteBtn.innerHTML = originalText
            })
        }
    </script>
{% endblock  %}