@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Architects+Daughter&display=swap');

@import "tailwindcss" source(none);

@source '../../core/templates/**/*.html';
@source '../../users/templates/**/*.html';
@source '../../components/**/*.html';
@source '../../components/**/*.js';



@theme {
    --font-display: "Satoshi", "sans-serif";
    --font-primary: 'Alegreya';
    --font-header: 'Alegreya';
    --font-cursive: 'Architects Daughter'
    
  }