<form method="POST"
      {% if not is_js_submission %} action="{% url 'user:login' %}" {% endif %}
      {% if is_js_submission %} onsubmit="handleLogin(event)" {% endif %}
      class="{{ form_class }}">
      
    {% csrf_token %}
    
    <div class="mb-6">
        <h1 class="text-4xl font-bold mb-1.5">{{ form_title }}</h1>
        
        {% if show_signup_link %}
        <p>New user? <a class="text-blue-700 underline hover:no-underline" href="{% url 'user:register' %}">Sign up</a></p>
        {% endif %}
        
        <div id="error-message" class="text-red-500 bg-red-100 text-center text-sm p-2 w-full hidden"></div>

        {% if messages %}
            {% for message in messages %}
                <div class="messages text-green-800 bg-green-100 text-center text-sm font-medium p-2 w-max">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="flex flex-col gap-3 lg:gap-4">
        <div>
            <label class="label-primary" for="id_username">Email</label>
            <input class="input-primary" type="email" name="username" maxlength="254" required id="id_username" placeholder="Enter your email" {% if autofocus %}autofocus{% endif %}>
        </div>

        <div x-data="{ show: false }">
            <label class="label-primary" for="id_password">Password</label>
            <div class="relative">
                <input 
                class="input-primary" 
                :type="show ? 'text' : 'password'" 
                name="password" 
                autocomplete="current-password" 
                required 
                id="id_password" 
                placeholder="Enter your password">

                <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                    <!-- Show Password Icon -->
                    <svg 
                        class="h-6 text-gray-700 cursor-pointer" 
                        @click="show = !show" 
                        :class="{'hidden': show, 'block': !show}" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 576 512"
                    >
                        <path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path>
                    </svg>
        
                    <!-- Hide Password Icon -->
                    <svg 
                        class="h-6 text-gray-700 cursor-pointer" 
                        @click="show = !show" 
                        :class="{'block': show, 'hidden': !show}" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 640 512"
                    >
                        <path fill="currentColor" d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"></path>
                    </svg>
                </div>
            </div>
            
        </div>

        {% component "button" html_tag="button" label="Login" type="primary" width="full" function="submit" %} {% endcomponent %}
    
        <a href="{% url 'user:password_reset' %}" class="block text-right text-blue-700 underline hover:no-underline">Forgot Password?</a>

    </div>
</form>
