<form method="POST"
      {% if not is_js_submission %} action="{% url 'user:login' %}" {% endif %}
      {% if is_js_submission %} onsubmit="handleLogin(event)" {% endif %}
      class="{{ form_class }}">
      
    {% csrf_token %}
    
    <div class="mb-6">
        <h1 class="text-4xl font-bold mb-1.5">{{ form_title }}</h1>
        
        {% if show_signup_link %}
        <p>New user? <a class="text-blue-700 underline hover:no-underline" href="{% url 'user:register' %}">Sign up</a></p>
        {% endif %}
        
        <div id="error-message" class="text-red-500 bg-red-100 text-center text-sm p-2 w-max hidden"></div>

        {% if messages %}
            {% for message in messages %}
                <div class="messages text-green-800 bg-green-100 text-center text-sm font-medium p-2 w-max">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="flex flex-col gap-3 lg:gap-4">
        <div>
            <label class="label-primary" for="id_username">Email</label>
            <input class="input-primary" type="email" name="username" maxlength="254" required id="id_username" placeholder="Enter your email" {% if autofocus %}autofocus{% endif %}>
        </div>

        <div>
            <label class="label-primary" for="id_password">Password</label>
            <input class="input-primary" type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="Enter your password">
        </div>

        {% component "button" html_tag="button" label="Login" type="primary" width="full" function="submit" %} {% endcomponent %}
    
        <a href="{% url 'user:password_reset' %}" class="block text-right text-blue-700 underline hover:no-underline">Forgot Password?</a>

    </div>
</form>
